<div class="flex flex-wrap common_topbar pt-12 pb-8">
	<div class="container">
		<div class="row">
			<h1>{{result.title}}</h1>
		</div>

		<div class="row mt-3">
			<div class="flex flex-wrap">
				<div class="lg:w-1/6 md:w-3/6 w-full px-3 py-2">
					<label>Updated</label>
					<span>{{moment([result.metadata_modified]).from(moment())}}</span>
				</div>

				<div class="lg:w-1/6 md:w-3/6 w-full px-3 py-2">
					<label>License</label>
					<span>{{result.license.title}}</span>
				</div>

				<div class="lg:w-1/6 md:w-3/6 w-full px-3 py-2">
					<label>Publisher</label>
					<span>{{result.organization.title}}</span>
				</div>

				<div class="lg:w-1/6 md:w-3/6 w-full px-3 py-2">
					<label>Tags</label>
          {% for tag in result.keywords %}
            <a href="#">#{{tag}}</a>
          {% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
