<div class="float-right inline-block align-middle relative">
  <label for="field-order-by" class="inline-block align-middle mr-2">Sort</label>
  <button class="inline-block align-middle dropdown-toggle" type="button" data-toggle="dropdown" title="Sort Order">
    <i class="material-icons">sort</i>
  </button>
  <ul class="dropdown-menu hidden bg-white rounded border border-gray-500 w-40 absolute">
    <li>
      <button name="sort" value="score desc, metadata_modified desc"
      class="selected py-1 px-2 block w-full text-left">Relevance</button>
    </li>
    <li>
      <button name="sort" value="title_string:asc" class="py-1 px-2 block w-full text-left">Name Ascending</button>
    </li>
    <li>
      <button name="sort" value="title_string:desc" class="py-1 px-2 block w-full text-left">Name Descending</button>
    </li>
    <li>
      <button name="sort" value="metadata_modified:desc" class="py-1 px-2 block w-full text-left">Last Modified</button>
    </li>
    <li>
      <button name="sort" value="views_recent:desc" class="py-1 px-2 block w-full text-left">Popular</button>
    </li>
  </ul>
</div>
