<section class="px-6 border-b border-gray-300">
  <h4 class="text-sm my-3">Major Topics</h4>
  <nav class="w-full block">
    <ul class="block w-full py-4">
      {% for group in facets.groups %}
        {% if group.checked %}
          {% set checked = 'checked' %}
          <li class="usa-checkbox" onClick="javascript: window.location.href = '{{deleteParam(href, 'topics', group.name)}}'">
        {% else %}
          {% set checked = '' %}
          <li class="usa-checkbox" onClick="javascript: window.location.href = '{{addParam(href, 'topics', group.name)}}'">
        {% endif %}
        <input id='{{group.name}}' class="usa-checkbox__input nav-item " type="checkbox" name="" {{checked}}>
        <label class="usa-checkbox__label" for="truth">{{group.display_name}} <span>{{group.count}}</span></label>
      </li>
      {% endfor %}
    </ul>
    <p class="block w-full pb-5">
      <a href="#" class="read-more">Show all 
        <img class="inline-block align-middle ml-1" src="/static/img/angle-arrow-down-primary-hover.svg" alt="Show more" width=8 />
      </a>
    </p>
  </nav>
</section>
