<ul class="dataset_list list-none">
  {% for result in results %}
  <li class="p-6 mb-4 border-4 border-gray-300 hover:border-blue-600">
		<h5>
			<a href="/dataset/{{result.name}}">{{result.title}}</a>
		</h5>
		<p>
			{{result.organization.title}} <span>&bull;</span> 7 days ago
		</p>
		<p>{{ result.description | truncate(160) }}</p>
		<div>
      {% if qualityMark(result).doc %}
      <span class="w-full font-medium"> <img class="inline-block mr-2 w-3" src="/static/images/checked.png" />Documentation &nbsp; </span>
      {% endif %}
      {% if qualityMark(result).machine %}
      <span class="w-full font-medium"> <img class="inline-block mr-2 w-3" src="/static/images/checked.png" />Machine Readable &nbsp; </span>
      {% endif %}
      <!-- <i class="fa fa-bar-chart-o"></i> 0 views -->
		</div>
	</li>
  {% endfor %}
</ul>
