<section class="px-6 border-b border-gray-300">
  <h4 class="text-sm my-3">Level Of Data</h4>
  <nav class="w-full block">
    <ul class="block w-full py-4">
      {% for lod in facets.level_of_data_string %}
      {% if lod.checked %}
        {% set checked = 'checked' %}
        <li class="usa-checkbox" onClick="javascript: window.location.href = '{{deleteParam(href, 'level_of_data', lod.name)}}'">
      {% else %}
        {% set checked = '' %}
          <li class="usa-checkbox" onClick="javascript: window.location.href = '{{addParam(href, 'level_of_data', lod.name)}}'">
      {% endif %}
        <input
          id='{{lod.name}}' class="usa-checkbox__input nav-item"
          type="checkbox" name="" {{checked}}>
        <label class="usa-checkbox__label" for="truth">
          {{lod.display_name | truncate(25)}}
          <span>{{lod.count}}</span>
        </label>
      </li>
      {% endfor %}
    </ul>
    <p class="block w-full"></p>
  </nav>
</section>
