<section class="px-6 border-b border-gray-300">
  <h4 class="text-sm my-3">Tags</h4>
  <nav class="w-full block">
    <ul class="sidebar-nav block w-full py-4">
      {% for tag in facets.tags %}
        {% if tag.checked %}
          {% set checked = 'checked' %}
          <a href="{{deleteParam(href, 'tags', tag.name)}}"
              class="tag-custom True"
              title="{{tag.display_name}}">
        {% else %}
          {% set checked = '' %}
          <a href="{{addParam(href, 'tags', tag.name)}}"
              class="tag-custom False"
              title="{{tag.display_name}}">
        {% endif %}

            #{{tag.display_name | truncate(20, true)}}
            <span> {{tag.count}}</span>
          </a>
      {% endfor %}
    </ul>

    <p class="block w-full pb-5">
      <a href="#" class="read-more">Show all 
        <img class="inline-block align-middle ml-1" src="/static/img/angle-arrow-down-primary-hover.svg" alt="Show more" width=8 />
      </a>
    </p>
  </nav>
</section>
