<section class="px-6 border-b border-gray-300">
  <h4 class="text-sm my-3">Publishers</h4>
  <nav class="w-full block">
    <ul class="block w-full py-4">
      {% for organization in facets.organization %}
        {% if organization.checked %}
          {% set checked = 'checked' %}
          <li class="usa-checkbox" onClick="javascript: window.location.href = '{{deleteParam(href, 'publishers', organization.name)}}'">
        {% else %}
          {% set checked = '' %}
          <li class="usa-checkbox" onClick="javascript: window.location.href = '{{addParam(href, 'publishers', organization.name)}}'">
        {% endif %}
          <input id='{{organization.name}}' class="usa-checkbox__input nav-item " type="checkbox" name="" {{checked}}>
          <label class="usa-checkbox__label" title="{{organization.display_name}}" for="truth">
            {{organization.display_name | truncate(20, true)}}
            <span>{{organization.count}}</span>
          </label>
        </li>
      {% endfor %}

    </ul>
    <p class="block w-full"></p>
  </nav>
</section>
