<section class="block border-b border-gray-300 px-6 py-4">
  {% if topic.image_display_url %}
    <img src="{{ organization.image_display_url }}">
  {% else %}
    <img src="/static/images/topic.png">
  {% endif %}

	<h4 class="text-sm my-4">{{ topic.title }}</h4>
	
	<div class="py-2 w-full">
		<p><i>{{ topic.description }}</i></p>
	</div>
</section>

<section class="block border-b border-gray-300 px-6 py-4">
	<a href="#">
		<h3 class="my-2">{{ topic.title }}</h3>
	</a>
</section>

<section class="block px-6 py-3">
	<ul class="follow_numb">
		<li>
			<p>Followers</p>
			<span>0</span>
		</li>

		<li>
			<p>Datasets</p>
			<span>{{ result.count }}</span>
		</li>
	</ul>
</section>
