{% extends "base.html" %}

{% block title %}
{{ message }}
{% endblock %}

{% block bodyclass %}not-found{% endblock %}

{% block content %}
<!-- placeholder for testing 404 page -->

<div id="content" class="container-fluid">
  <div class="wrapper-custom no-nav">

    <div class="full-height-pg">
      <article class="module">
        <div class="module-content err-content text-center">
          <img src="/static/images/danger.png" width="120" class="warning mx-auto">

          <h1>{{ status }} {{ message }}</h1>
          {{ comment }}<br><br>
        </div>
      </article>
    </div>
  </div>
</div>

{% endblock %}