<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if blockRobots %}
  <meta name="robots" content="noindex">
  {% endif %}

	<title>
		{% block title%}{{title}}{% endblock %} | U.S. Department of Education
	</title>
	<meta name="author" content="U.S. Department of Education">
	<link rel="icon" type="img/ico" href="/static/images/favicon.ico" sizes="16x16">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
		integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" href="/static/css/tailwind.css">
	<link rel="stylesheet" media="screen" href="/static/css/uswds.min.css">
	<link rel="stylesheet" media="screen" href="/static/vendor/simplebar/simplebar.css">


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script id="ga-gtag" async></script>
	<script>
		document.getElementById("ga-gtag").src = "https://www.googletagmanager.com/gtag/js?id={{ $GA_ID }}";
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', '{{ $GA_ID }}');
	</script>

	<style type="text/css">
		@media (max-width: 1023px) {
			.navbar_outr .navbar-collapse {
				display: none;
				height: 0;
				flex-basis: 100%;
				-webkit-box-flex: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
			}

			.navbar_outr .navbar-collapse>.lg:flex-grow.links {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				list-style: none;
			}

			.navbar_outr .navbar-collapse.collapse.show {
				display: block;
				height: 130px;
			}

			.navbar_outr button.flex.items-center:focus {
				outline: none;
				outline-offset: 0;
				border: 0 none;
				box-shadow: none;
			}
		}
	</style>
</head>

<body class="{% block bodyclass %}{{bodyclass}}{% endblock %}">

	<header class="masthead">
		<nav class="navbar_outr flex items-center justify-between flex-wrap fixed top-0 w-full p-2 nav">

			<div class="flex items-center flex-shrink-0 text-white ml-1 mt-2 mr-6">
				<a href="/" class="nav-logo"> <img src="/static/images/logo.png" width="120/"></a>
			</div>

			<div class="block lg:hidden">
				<button type="button" class="flex items-center px-6 py-4 text-white collapsed" data-toggle="collapse"
					data-target="#collapse_menu" aria-controls="navbarSupportedContent" aria-label="Toggle navigation"
					aria-expanded="false">
					<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<title>Menu</title>
						<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
					</svg>
				</button>
			</div>

			<div class="mobile_hidden flex-grow lg:flex lg:items-center lg:w-auto">
				<form class="section site-search relative w-full simple-input" action="/dataset" method="get">
					<input id="field-sitewide-search" type="text" class="form-control w-full py-2" name="q" value="{{q}}"
						placeholder="Search datasets">
					<button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
				</form>
			</div>

			<div id="collapse_menu"
				class="navbar-collapse collapse w-full sm:w-full md:1/4 lg:1/4 xl:1/4 flex-grow lg:flex lg:items-center lg:w-auto links-wrap">
				<div class="lg:flex-grow links">
					<a href="/dataset" class="block mt-4 mr-16 lg:inline-block lg:mt-0 text-white">
						Datasets
					</a>
					<a href="/publisher" class="block mt-4 mr-16 lg:inline-block lg:mt-0 text-white">
						Publishers
					</a>
					<a href="/collections" class="block mt-4 mr-16 lg:inline-block lg:mt-0 text-white">
						Collections
					</a>
					<a class="usa-button usa-button--outline mr-8" href="/user/login">Sign in</a>
				</div>
			</div>

		</nav>
	</header>


	<!-- Alert messages
  {% if message.length > 0 %}
  <div class="container">
    <div class="inner_container">
      <div class="alert alert-danger" role="alert">{{ message | safe }}</div>
    </div>
  </div>
  {% endif %}
  End of Alert messages -->

	{% block content %}{{content}}{% endblock %}


	<!-- Footer -->
	<footer class="site-footer py-4">
		<div class="container flex flex-wrap ">
			<div class="w-full sm:w-1/3">
				<div class="footer-logo">
					<img src="/static/images/dept-of-ed-logo-footer.png" width="50"></a>
				</div>
				<div class="footer-logo-content">
					<p class="main-text">DATA.ED.GOV</p>
					<p class="subtext">Official Website of U.S Government</p>
				</div>
			</div>
			<div class="w-full sm:w-2/3">
				<div class="footer-links">
					<ul class="list-unstyled">
						<li><a href="/about">About</a></li>
						<li><a href="/stats"> Statistics</a></li>
						<li><a href="/dataset"> Datasets</a></li>
						<li><a href="/publisher"> Publishers</a></li>
						<li><a href="http://docs.ckan.org/en/2.8/api/" target="_blank">API</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- end of footer -->

	{% block scripts %}

	<script src="/static/vendor/jquery-3.4.1/jquery.min.js" type="text/javascript"></script>
	<script src="/static/vendor/bootstrap-4.0.0-dist/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/static/vendor/simplebar/simplebar.js" type="text/javascript"></script>
	<script src="/static/vendor/particlejs/particles.js" type="text/javascript"></script>
	<script src="/static/js/main.js" type="text/javascript"></script>

	{% endblock %}

</body>

</html>
