{% extends "base.html" %}

{% block bodyclass %}dash{% endblock %}
{% block content %}

{% include './includes/_dataset_banner.html' %}

<div class="flex flex-wrap mainbar">
	<ul class="nav list-none pl-0 m-0">
		<li>
			<a href="/dataset/{{result.name}}">
				<i class="fa fa- view_list material-icons">view_list</i>  Dataset
			</a>
		</li>

		<li>
			<a href="/dataset/{{result.name}}/docs">
				<i class="fa fa- info material-icons">info</i>  Docs
			</a>
		</li>

		<li class="active">
			<a href="/dataset/{{result.name}}/disqus">
				<i class="fa fa- add_comment material-icons">add_comment</i>  Disqus
			</a>
		</li>

		<li>
			<a href="/dataset/{{result.name}}/usage">
				<i class="fa fa- bar_chart material-icons">bar_chart</i>  Usage
			</a>
		</li>
	</ul>
</div>


<div class="flex flex-wrap dataset_data_page m-0 p-0">

	<!-- Left Sidebar -->
	<div class="leftbar xl:w-1/5 lg:w-1/4 w-full py-10">

		<section class="block border-b">
			<h4 class="px-8 text-sm my-3">Helpdesk</h4>
			
			<div class="py-5 px-8 w-full">
				<p class="underline">support@edu.com</p>

				<p>John Doe</p>
			</div>
		</section>


		<section class="block border-b pt-6">
			<h4 class="px-8 text-sm my-3">Data steward</h4>
			
			<div class="py-5 px-8 w-full">
				<p>John Doe</p>
				
				<p class="underline">Jane@gmail.com</p>
			</div>
		</section>
	</div>

	<!-- Right content section -->
	<div class="rightcontent xl:w-4/5 lg:w-3/4 w-full bg-white">
		<section class="inner_data">

			<div class="custom_doc_sec">
				<h2>Discuss the data</h2>

				<p>Share your feedback and ideas with our community</p>
			</div>

			<div class="disqus-comments">
				<script type="text/javascript">
					//Check to see if user is logged in.  If so send the info.
					var disqus_config = function() {
						this.language = "en";
					}
				</script>

				<div id="disqus_thread"></div>

				<script type="text/javascript">
					var disqus_shortname =  'ckan-us-ed-dev';
					var disqus_identifier = 'ckanext.ed.controller:DisqusController::freshmen-2019';

					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>

				<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

			</div>
			
		</section>
	</div>
</div>

{% endblock %}
