{% extends "base.html" %}

{% block bodyclass %}dash{% endblock %}
{% block content %}

{% include './includes/_dataset_banner.html' %}

<div class="flex flex-wrap mainbar">
	<ul class="nav list-none pl-0 m-0">
		<li>
			<a href="/dataset/{{result.name}}">
				<i class="fa fa- view_list material-icons">view_list</i>  Dataset
			</a>
		</li>

		<li class="active">
			<a href="/dataset/{{result.name}}/docs">
				<i class="fa fa- info material-icons">info</i>  Docs
			</a>
		</li>

		<li>
			<a href="/dataset/{{result.name}}/disqus">
				<i class="fa fa- add_comment material-icons">add_comment</i>  Disqus
			</a>
		</li>

		<li>
			<a href="/dataset/{{result.name}}/usage">
				<i class="fa fa- bar_chart material-icons">bar_chart</i>  Usage
			</a>
		</li>
	</ul>
</div>


<div class="flex flex-wrap dataset_data_page m-0 p-0">

	<!-- Left Sidebar -->
	<div class="leftbar xl:w-1/5 lg:w-1/4 w-full py-10">
		<h4 class="px-8 text-sm my-3">Documentation</h4>

		<section class="block">
			<ul class="nav flex flex-wrap pt-4 pb-16">
				<li class="nav-item w-full">
					<a href="#Pinned" class="nav-link py-3 px-8 block active">Pinned</a>
				</li>

				<li class="nav-item w-full">
					<a href="#About" class="nav-link py-3 px-8 block">About</a>
				</li>

        {% for resource in result.resources %}
        {% if resource.resource_type == 'doc' and resource.pinned != 'True' %}
				<li class="nav-item w-full">
					<a href="#{{resource.name}}" class="nav-link py-3 px-8 block">{{resource.title}}</a>
				</li>
        {% endif %}
        {% endfor %}
			</ul>
		</section>
	</div>

	<!-- Right content section -->
	<div class="rightcontent xl:w-4/5 lg:w-3/4 w-full bg-white">
		<section class="inner_data">

			<div class="custom_doc_sec">
				<h2>Documentation</h2>

        {% for resource in result.resources %}
        {% if resource.resource_type == 'doc' and resource.pinned == 'True' %}
				<section class="my-10">
					<h5 id="Pinned">Pinned</h5>
					<p>What we think you probably want to look at first.</p>

					<ul class="list-disc">
						<li>
							<a href="{{resource.path}}" download>{{resource.format}}</a>
						</li>
					</ul>
				</section>

				<section class="my-10">
					<h5 id="About">About</h5>
					<p>{{resource.description}}</p>
				
					<div class="overflow-y-auto scrollbar-w-2 scrollbar-track-gray-lighter scrollbar-thumb-rounded scrollbar-thumb-gray scrolling-touch">
						<table class="w-full text-left table-collapse mt-3">
							<thead>
								<tr>
									<th class="border">Metadata</th>
									<th class="border">Description</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td class="border">created</td>
								  <td class="border">{{moment([resource.created]).from(moment())}}</td>
								</tr>

								<tr>
									<td class="border">format</td>
									<td class="border">{{resource.format}}</td>
								</tr>

								<tr>
									<td class="border">id</td>
									<td class="border">{{resource.id}}</td>
								</tr>

								<tr>
									<td class="border">last modified</td>
								  <td class="border">{{moment([resource.last_modified]).from(moment())}}</td>
								</tr>

								<tr>
									<td class="border">mimetype</td>
									<td class="border">{{resource.mimetype}}</td>
								</tr>

								<tr>
									<td class="border">package id</td>
									<td class="border">{{result.id}}</td>
								</tr>

								<tr>
									<td class="border">pinned</td>
									<td class="border">True</td>
								</tr>

								<tr>
									<td class="border">position</td>
									<td class="border">{{resource.position}}</td>
								</tr>

								<tr>
									<td class="border">resource type</td>
									<td class="border">{{resource.resource_type}}</td>
								</tr>

								<tr>
									<td class="border">revision id</td>
									<td class="border">{{resource.revision_id}}</td>
								</tr>

								<tr>
									<td class="border">state</td>
									<td class="border">{{resource.state}}</td>
								</tr>

								<tr>
									<td class="border">url type</td>
									<td class="border">{{resource.url_type}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>
        {% endif %}
        {% endfor %}

        {% for resource in result.resources %}
        {% if resource.resource_type == 'doc' and resource.pinned != 'True' %}
          <section class="my-10">
            <h5 id="{{resource.name}}">{{resource.title}}</h5>
            <ul class="list-disc">
              <li>
                <a href="{{resource.path}}" download>{{resource.format}}</a>
              </li>
            </ul>
          </section>
        {% endif %}
        {% endfor %}
			</div>
		</section>
	</div>
</div>


{% endblock %}
