{% extends "base.html" %}

{% block bodyclass %}dash{% endblock %}
{% block content %}

{% include './includes/_dataset_banner.html' %}


<div class="flex flex-wrap mainbar">
	<ul class="nav list-none pl-0 m-0">
		<li class="active">
			<a href="/dataset/{{result.name}}">
				<i class="fa fa- view_list material-icons">view_list</i>  Dataset
			</a>
		</li>

		<li>
			<a href="/dataset/{{result.name}}/docs">
				<i class="fa fa- info material-icons">info</i>  Docs
			</a>
		</li>

		<li>
			<a href="/dataset/{{result.name}}/disqus">
				<i class="fa fa- add_comment material-icons">add_comment</i>  Disqus
			</a>
		</li>

		<li>
			<a href="/dataset/{{result.name}}/usage">
				<i class="fa fa- bar_chart material-icons">bar_chart</i>  Usage
			</a>
		</li>
	</ul>
</div>


<div class="flex flex-wrap dataset_data_page m-0 p-0">

	<!-- Left Sidebar -->
	<div class="leftbar xl:w-1/5 lg:w-1/4 w-full">
		<section class="py-10 pl-8 pr-6">
      {% for resource in result.resources %}
        {% if resource.resource_type != 'doc' %}
          <div class="card {%if loop.index==1%}active{%endif%} resource-card" id="resource-card-{{resource.id}}">
            <a class="resource-button" data-resource-id={{resource.id}} href="javascript:void(0)" >
              <span>{{resource.format}}</span>
              <h4>{{resource.title}}</h4>
            </a>

            <a href="{{resource.path}}" class="btn download-btn">Download</a>

            <i class="material-icons resource-checked {%if loop.index>1%}hidden{%endif%}">done</i>
          </div>
        {% endif %}
      {% endfor %}
		</section>
	</div>

	<!-- Right content section -->
  {% for resource in result.resources %}
  {% if resource.resource_type != 'doc' %}
	<div
    class="rightcontent xl:w-4/5 lg:w-3/4 w-full bg-white {%if loop.index>1%}hidden{%endif%}"
    id="resource-tab-{{resource.id}}">
		<section class="inner_data">
			<div class="sub_head mb-6">
				<ul class="list-none pl-0">
					<li class="active">
						<a href="#">
							<i class="fa icon fa-table"></i> Data Explorer
						</a>
					</li>
				</ul>

				<div class="float-right">
					<ul>
						<li>
							<a href="#" class="btn border_btn">
								<i class="fa fa-arrows-alt"></i> Fullscreen
							</a>
						</li>

						<li>
							<a href="#" class="btn border_btn">
								<i class="fa fa-code"></i> Embed
							</a>
						</li>
					</ul>
				</div>
			</div>


			<div class="custom_table">
				<h2>Additional Information</h2>

				<div class="overflow-y-auto scrollbar-w-2 scrollbar-track-gray-lighter scrollbar-thumb-rounded scrollbar-thumb-gray scrolling-touch">
					<table class="w-full text-left table-collapse mt-3">
						<thead>
							<tr>
								<th class="border-b">Field</th>
								<th class="border-b">Value</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td class="border-b">Data last updated</td>
								<td class="border-b">{{moment([resource.last_modified]).from(moment())}}</td>
							</tr>

							<tr>
								<td class="border-b">Metadata last updated</td>
								<td class="border-b">{{moment([resource.last_modified]).from(moment())}}</td>
							</tr>

							<tr>
								<td class="border-b">Created</td>
								<td class="border-b">{{moment([resource.created]).from(moment())}}</td>
							</tr>

							<tr>
								<td class="border-b">Format</td>
								<td class="border-b">{{resource.mimetype}}</td>
							</tr>

							<tr>
								<td class="border-b">License</td>
								<td class="border-b">
									<a href="{{result.license.url}}">{{result.license.title}}</a>
								</td>
							</tr>

							<tr class="show_on_click">
								<td class="border-b">License</td>
								<td class="border-b">
									<a href="#">U.S. Government Works</a>
								</td>
							</tr>

							<tr class="show_on_click">
								<td class="border-b">License</td>
								<td class="border-b">
									<a href="#">U.S. Government Works</a>
								</td>
							</tr>
								
						</tbody>
					</table>
				</div>

				<a id="table_link" class="underline" href="javascript:void(0)">Show more</a>

			</div>
		</section>
	</div>
  {% endif %}
  {% endfor %}
</div>


{% endblock %}

{% block scripts %}
  {{ super() }}

  <script type="text/javascript">
    $(document).ready(function(){
      $('.resource-button').click(function() {
        var selectedResourceId = $(this).attr('data-resource-id');
        $('div[id^=resource-tab-]').hide();
        $('div[id^=resource-card-] i.resource-checked').hide();
        $('div[id^=resource-card-]').removeClass('active');

        $('#resource-card-' + selectedResourceId + ' i.resource-checked').show();
        $('#resource-card-' + selectedResourceId).addClass('active');
        $('#resource-tab-' + selectedResourceId).show();
      });
    });
  </script>
{% endblock %}
