{% extends "base.html" %}

{% block bodyclass %}dash{% endblock %}
{% block content %}

{% include './includes/_dataset_banner.html' %}

<div class="flex flex-wrap mainbar">
	<ul class="nav list-none pl-0 m-0">
		<li>
			<a href="/dataset/{{result.name}}">
				<i class="fa fa- view_list material-icons">view_list</i>  Dataset
			</a>
		</li>

		<li>
			<a href="/dataset/{{result.name}}/docs">
				<i class="fa fa- info material-icons">info</i>  Docs
			</a>
		</li>

		<li>
			<a href="/dataset/{{result.name}}/disqus">
				<i class="fa fa- add_comment material-icons">add_comment</i>  Disqus
			</a>
		</li>

		<li class="active">
			<a href="/dataset/{{result.name}}/usage">
				<i class="fa fa- bar_chart material-icons">bar_chart</i>  Usage
			</a>
		</li>
	</ul>
</div>


<div class="flex flex-wrap dataset_data_page m-0 p-0">

	<!-- Left Sidebar -->
	<div class="leftbar xl:w-1/5 lg:w-1/4 w-full py-10">
		<section class="block border-b pb-2">
			<h4 class="px-8 text-sm my-3">Visits</h4>
			
			<div class="py-3 px-8 w-full">
				<p>{{ result.tracking_summary.total }}</p>
			</div>
		</section>

		<section class="block border-b pt-8 pb-2">
			<h4 class="px-8 text-sm my-3">Downloads</h4>
			
			<div class="py-3 px-8 w-full">
				<p>138</p>
			</div>
		</section>

		<section class="block border-b pt-8 pb-2">
			<h4 class="px-8 text-sm my-3">API Hits</h4>
			
			<div class="py-3 px-8 w-full">
				<p>138</p>
			</div>
		</section>

	</div>

	<!-- Right content section -->
	<div class="rightcontent xl:w-4/5 lg:w-3/4 w-full bg-white">
		<section class="inner_data">

			<div class="custom_doc_sec">
				<h2>Showcase</h2>

				<p>What people are making using this data.</p>

				<section class="mt-3 block">
					<a href="#" title="View FAFSA">
						<div class="showcase-card" style="background-image:url(/static/images/group_icon.jpg">
							<div class="overlay"></div>

							<span>FAFSA</span>
						</div>
					</a>
				
					<a href="#" title="View College Scorecard">
						<div class="showcase-card" style="background-image:url(/static/images/group_icon.jpg">
							<div class="overlay"></div>

							<span>College Scorecard</span>
						</div>
					</a>
				</section>

			</div>
		</section>
	</div>
</div>


{% endblock %}
