{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block content %}

<!-- Hero Section -->
<div class="hero" id="hero">
    <div class="container">

        <div class="flex flex-wrap">
            <div class="w-full sm:w-full md:w-3/4 lg:w-3/4 xl:w-3/4 pb-6 mx-auto">
                <div class="hero-content">
                    <h1>America's education data</h1>
                    <h4>Datasets from U.S Department of Education</h4>

                    <form class="module-content search-form" method="get" action="/dataset">
                        <div class="search-input form-group search-giant relative">
                            <input aria-label="Search datasets" id="field-main-search" type="text"
                                class="form-control w-full" name="q" value="" autocomplete="off"
                                placeholder="Search datasets" />
                            <button type="submit">
                                <i class="material-icons">search</i>
                                <span class="sr-only">Search</span>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>



<!-- Categories and Major Topics -->
<section class="bg-custom-grey-100">
    <div class="container">
        <div class="home-categories px-3 mb-4">
            <h3>Datasets by category</h3>

            <div class="card-custom-home categories-card shadow">

              {%- for groupsColumn in groups | selectattr('count') | slice(2) %}
                <div class="col-links-{{loop.index}}">
                  <ul>
                    {%- for group in groupsColumn %}
                      <li>

                        <a href="/topic/{{group.name}}">
                          {{group.title}}
                          <span>{{group.count}}</span></a>
                      </li>
                    {%- endfor %}
                  </ul>
                </div>
              {%- endfor %} <br>

                <div class="col-tags" data-simplebar>
                  {% set previous_letter = '_' %}
                  {% for tag in tags %}
                    {% if previous_letter != tag.name[0] %}
                      {% if previous_letter != '_' %}
                        </div>
                      {% endif %}
                        <div class="tag-group">
                          <h5> {{ tag.name[0] | upper }}</h5>
                          {% set previous_letter = tag.name[0] %}
                    {% endif %}
                          <a href="/dataset?tags={{tag.name}}" class="tag-custom">
                            #{{tag.display_name | truncate(22)}}
                            <span>{{tag.count}}</span>
                          </a>
                  {% endfor %}
                  <p class="clearfix"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Treanding and New Data -->
    <div class="container">

        <div class="trending-new">
            <div class="flex flex-wrap">

                <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 mb-4 px-3">
                    <h4>Trending datasets</h4>
                    <div class="trending-data card-custom-plain">
                      {% for dataset in trendingData %}
                        <div class="list-item">
                            <img src="/static/images/trending-data.png" class="trending-icon" alt="New Data" />
                            <a href="/dataset/{{dataset.name}}" class="dataset-name">
                                {{dataset.title}}</a>
                            <p class="office-name">{{dataset.organization.title}}</p>
                        </div>
                      {% endfor %}
                    </div>
                </div>

                <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 mb-4 px-3">
                    <h4>New Data</h4>

                    <div class="new-data card-custom-plain">
                      {% for dataset in recentData %}
                      <div class="list-item">
                        <img src="/static/images/new-data.png" class="new-data-icon" alt="New Data" />
                        <a href="/dataset/{{dataset.name}}" class="dataset-name">
                          {{dataset.title}}</a>
                        <p class="office-name">{{dataset.organization.title}}</p>
                      </div>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <p class="page-name page-home hidden">home</p>
    </div>
</section>

{% endblock %}
