{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{ title }}
{% endblock %}

{% block bodyclass %}search{% endblock %}

{% block content %}


<div class="flex flex-wrap collection_page">

	<!-- Left sidebar -->
	<div class="leftbar xl:w-1/5 lg:w-1/4 md:w-1/3 w-full py-6">
		<section class="block border-b border-gray-300 px-6 py-4">
			<img src="/static/images/file1.png">

			<p class="pt-6 pb-1 w-full m-0">
				<small>MasterCollection Details:</small>
			</p>

			<h4 class="text-sm my-3">Adult Education and Family Literacy</h4>

			<div class="py-4 w-full">
				<p>This is the first meta version of the ED Data Inventory. It is not yet an exhaustive list of ED data collections. ED is planning future updates in response to user feedback and regular expansion as data collections are indexed and added.</p>
			</div>
		</section>

		<section class="block border-b border-gray-300 px-6 py-4">
			<h4 class="text-sm my-3">Category (theme)</h4>
			<p class="underline">Online Survey</p>
		</section>

		<section class="block border-b border-gray-300 px-6 py-4">
			<h4 class="text-sm my-3">Tags</h4>
			<nav class="w-full block">
				<ul class="sidebar-nav block w-full py-4">
					<a href="/dataset?tags=public-schools" class="tag-custom False">#enrollment</a>

					<a href="/dataset?tags=elementary-and-secondary-education"
					class="tag-custom False">#essa</a>

					<a href="/dataset?tags=schools" class="tag-custom False">#graduation-rate</a>

					<a href="/dataset?tags=students" class="tag-custom False">#naepd</a>

					<a href="/dataset?tags=students" class="tag-custom False">#civil-rights</a>

					<a href="/dataset?tags=edfacts" class="tag-custom False">#title-ix</a>
				</ul>
			</nav>
		</section>

		<section class="block px-6 py-4">
			<h4 class="text-sm my-3">Publisher</h4>
			<p>Office of Career, Technical and Adult Education</p>
		</section>
	</div>

	<!-- Right Content -->
	<div class="rightcontent xl:w-4/5 lg:w-3/4 md:w-2/3 w-full bg-white py-16 pl-12 pr-16">
		<div class="collection_tab mb-6">
			<div class="sub_head">
				<h4>Master Collection</h4>
				<h2>Adult Education and Family Literacy</h2>
				<ul class="list-none">
					<li>
						<a class="active" href="javascript:void(0)">Metadata</a>
					</li>
				</ul>
			</div>

			<section class="tab-pane pb-5 block w-full">
				<div class="custom_table">
					<div class="overflow-y-auto scrollbar-w-2 scrollbar-track-gray-lighter scrollbar-thumb-rounded scrollbar-thumb-gray scrolling-touch">
						<table class="w-full text-left table-collapse">
							<thead>
								<tr>
									<th class="border-b">Fields</th>
									<th class="border-b">Value</th>
								</tr>
							</thead>

							<tbody>
								<tr>
										<td class="border-b">Title </td>
										<td class="border-b">US Ed Collection</td>
									</tr>
									<tr>
										<td class="border-b">Category</td>
										<td class="border-b">Online Survey</td>
									</tr>
									<tr>
										<td class="border-b">Keywords/tags</td>
										<td class="border-b"><a href='#'>#us-ed</a> <a href='#'>#social-studies</a></td>
									</tr>
									<tr>
										<td class="border-b">Publisher</td>
										<td class="border-b"><a href='#'>Harvester Organization</a></td>
									</tr>
									<tr>
										<td class="border-b">Program Code</td>
										<td class="border-b">#USED-8223</td>
									</tr>
									<tr>
										<td class="border-b">Data level</td>
										<td class="border-b">District</td>
									</tr>
									
									<tr>
										<td class="border-b">Organization</td>
										<td class="border-b">U.S Department of Education</td>
									</tr>
									
									<tr class="show_on_click">
										<td class="border-b">Sub organization</td>
										<td class="border-b">Not Defined</td>
									</tr>
									
									<tr class="show_on_click">
										<td class="border-b">Spatial/Temporal </td>
										<td class="border-b">N.A</td>
									</tr>
									
									<tr class="show_on_click">
										<td class="border-b">Frequency</td>
										<td class="border-b">Weekly</td>
									</tr>
									
									<tr class="show_on_click">
										<td class="border-b">Description</td>
										<td class="border-b">(-Offices and originally Organizations) are used to create, manage and publish collections of datasets. Users can have different roles within an Organization, depending on their level of authorisation to create, edit and publish.</td>
									</tr>
									
									<tr class="show_on_click">
										<td class="border-b">Modified</td>
										<td class="border-b">08-22-2019</td>
									</tr>
									
									<tr class="show_on_click">
										<td class="border-b">Contact point</td>
										<td class="border-b">support@dept-of-ed.com</td>
									</tr>
									
									<tr class="show_on_click">
										<td class="border-b">Unique identifier</td>
										<td class="border-b">#USED-8223</td>
									</tr>
									
									<tr class="show_on_click">
										<td class="border-b">Licence</td>
										<td class="border-b">U.S. Government Works</td>
									</tr>
									

									<tr class="show_on_click">
										<td class="border-b">Landing Page</td>
										<td class="border-b">
											<a href="https://us-ed.l3.ckan.io/">https://us-ed.l3.ckan.io/</a>
										</td>
									</tr>
				
									<tr class="show_on_click">
										<td class="border-b">References </td>
										<td class="border-b">N.A</td>
									</tr>

							</tbody>
						</table>
					</div>

					<a id="table_link" href="javascript:void(0)" class="underline pl-4">Show more</a>

				</div>

				<h2>List of Collections</h2>

				<form>
					<div class="input-group">
						<input type="text" name="q" placeholder="Search Data Profiles" value="{{ q }}">
						<span class="input-group-btn">
							<i class="fa fa-search"></i>
						</span>
					</div>
				</form>

				{% if collection.collections %}
				<ul class="dataset_list w-full list-none mt-6">
					{% for subcollection in collection.collections %}
					<li class="p-6 mb-4 border-4 border-gray-300 hover:border-blue-600">
						<h5>
							<a href="/collection/{{ subcollection.name }}">{{ subcollection.title }}</a>
						</h5>

						<p>11 data profiles</p>
					</li>
					{% endfor %}
				</ul>
				{% endif %}

				<div class="mt-8 w-full text-center pagination">
					<ul class="list-none block w-full">
						<li class="active inline-block align-middle py-2 px-3 font-semibold border rounded-l">
							<a class="text-teal-700" href="/dataset?page=1">1</a>
						</li>

						<li class="inline-block align-middle py-2 px-3 font-semibold border">
							<a class="text-teal-700" href="/dataset?page=2">2</a>
						</li>

						<li class="inline-block align-middle py-2 px-3 font-semibold border">
							<a class="text-teal-700" href="/dataset?page=3">3</a>
						</li>

						<li class="cursor-not-allowed inline-block align-middle py-2 px-3 font-semibold border">
							<a class="text-teal-700" href="#">...</a>
						</li>

						<li class="inline-block align-middle py-2 px-3 font-semibold border">
							<a class="text-teal-700" href="/dataset?page=21">21</a>
						</li>

						<li class="inline-block align-middle py-2 px-3 font-semibold border rounded-r">
							<a class="text-teal-700" href="/dataset?page=2">»</a>
						</li>
					</ul
					>
				</div>
			</section>
		</div>
	</div>

</div>

{% endblock %}