{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{ title }}
{% endblock %}

{% block bodyclass %}search{% endblock %}

{% block content %}


<div class="flex flex-wrap collection_page">

	<!-- Left sidebar -->
	<div class="leftbar xl:w-1/5 lg:w-1/4 md:w-1/3 w-full py-10">
		<section class="block">
			<h4 class="px-8 text-sm my-3">Collections</h4>

			<div class="py-4 px-8 w-full">
				<p>DISCLAIMER: This is the first meta version of the ED Data Inventory. It is not yet an exhaustive list of ED data collections. ED is planning future updates in response to user feedback and regular expansion as data collections are indexed and added.</p>
			</div>
		</section>
	</div>

	<!-- Right Content -->
	<div class="rightcontent xl:w-4/5 lg:w-3/4 md:w-2/3 w-full bg-white py-16 pl-12 pr-16">
		<div class="collection_tab mb-6">
			<div class="sub_head">
				<ul class="list-none">
					<li>
						<a href="/collections">Collections</a>
					</li>

					<li>
						<a class="active" href="/master-collections">Master Collections</a>
					</li>
				</ul>

				<!-- <div class="float-right">
					<ul>
						<li>
							<a href="#" class="btn border_btn">Add Master Collection</a>
						</li>
					</ul>
				</div>  -->
			</div>

			<section class="pb-5 block w-full">
				<p>A CKAN Collection is a set of data profiles with similar type of data or properties. Collections are used for grouping and managing data profiles.</p>

				<form>
					<div class="input-group">
						<input type="text" name="q" placeholder="Search Master Collections" value="{{ q }}">
						<span class="input-group-btn">
							<i class="fa fa-search"></i>
						</span>
					</div>
				</form>

				<h2>{{ collections.length }} Master Collections Found</h2>

				{% if collections.length > 0 %}
				<ul class="dataset_list w-full list-none">
					{% for collection in collections %}
					<li class="p-6 mb-4 border-4 border-gray-300 hover:border-blue-600">
						<h5>
							<a href="/master-collection/{{ collection.name }}">{{ collection.title }}</a>
						</h5>
						<p>11 data profiles</p>
					</li>
					{% endfor %}
				</ul>
				{% endif %}
			</section>

		</div>
	</div>

</div>

{% endblock %}