{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{ title }}
{% endblock %}

{% block bodyclass %}search{% endblock %}

{% block content %}


<div class="flex flex-wrap search_page collection_page publisher_page">

	<!-- Left sidebar -->
	<div class="leftbar xl:w-1/5 lg:w-1/4 md:w-1/3 w-full py-6">
    {% include './includes/_publisher_banner.html' %}
	</div>


	<!-- Right Content -->
	<div class="rightcontent xl:w-3/5 lg:w-3/4 md:w-2/3 w-full bg-white py-12 pl-16 pr-0">
		<div class="collection_tab mb-6">
			<div class="sub_head">
				<ul class="list-none">
					<li>
						<a href="/publisher/{{organization.name}}">Datasets</a>
					</li>

					<li>
						<a href="/publisher/{{organization.name}}/activity-stream"><i class="fa fa-clock"></i> Activity Stream</a>
					</li>

					<li>
						<a class="active" href="/publisher/{{organization.name}}/about"><i class="fa fa-info-circle"></i> About</a>
					</li>
				</ul>
			</div>

			<section class="pb-5 block w-full">
				<h2 class="main_heading">{{ organization.title }}</h2>

        <p>
          {{ organization.description }}
        </p>

				<ul class="list-disc">
					<li>
						<a href="/publisher/{{organization.name}}">{{ organization.title }}</a>
					</li>
				</ul>

				<h2>Additional Info</h2>

				<div class="border-4 border-gray-300 overflow-hidden relative">
					<div class="overflow-y-auto scrollbar-w-2 scrollbar-track-gray-lighter scrollbar-thumb-rounded scrollbar-thumb-gray scrolling-touch">
						<table class="w-full text-left table-collapse" data-module="plot" data-module-xaxis="{&#34;timeformat&#34;: &#34;%y-%b&#34;, &#34;mode&#34;: &#34;time&#34;}" data-module-yaxis="{&#34;min&#34;: 0}">
							<thead>
								<tr>
									<th class="uppercase text-sm font-semibold text-gray-700 p-2 border-r">FIELD</th>
									<th class="uppercase text-sm font-semibold text-gray-700 p-2">VALUE</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-sm font-light text-gray-700 p-2 border-t border-r" data-type="date" data-value="1535328000">test1</td>
									<td class="text-sm font-light text-gray-700 p-2 border-t">5</td>
								</tr>

								<tr>
									<td class="text-sm font-light text-gray-700 p-2 border-t border-r" data-type="date" data-value="1535932800">test2</td>
									<td class="text-sm font-light text-gray-700 p-2 border-t">9</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</div>
	</div>

</div>

{% endblock %}
