{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{ title }}
{% endblock %}

{% block bodyclass %}search{% endblock %}

{% block content %}


<div class="flex flex-wrap collection_page publisher_page">

	<!-- Left sidebar -->
	<div class="leftbar xl:w-1/5 lg:w-1/4 md:w-1/3 w-full py-10">
		<section class="block border-b">
			<h4 class="px-8 text-sm my-3">What are Publishers?</h4>
			
			<div class="py-4 px-8 w-full">
				<p>CKAN Publishers (-Offices and originally Organizations) are used to create, manage and publish collections of datasets. Users can have different roles within an Organization, depending on their level of authorisation to create, edit and publish.</p>
			</div>
		</section>
	</div>

	<!-- Right Content -->
	<div class="rightcontent xl:w-3/5 lg:w-3/4 md:w-2/3 w-full bg-white py-12 pl-16 pr-0">
		<div class="collection_tab mb-6">
			<section class="pb-5 block w-full">
				<form id="dataset-search-form">
					<div class="input-group">
						<input type="text" name="q" placeholder="Search Offices" value="{{searchParams.get('q')}}">
						  <span class="input-group-btn">
							<i class="fa fa-search"></i>
						</span>
					</div>

					<div class="float-right inline-block align-middle relative my-5">
						<label for="field-order-by" class="inline-block align-middle mr-2">Sort</label>
						<button class="inline-block align-middle dropdown-toggle" type="button" data-toggle="dropdown" title="Sort Order">
							<i class="material-icons">sort</i>
						</button>
						<ul class="dropdown-menu hidden bg-white rounded border border-gray-500 w-40 absolute">
							<li>
								<button name="sort" value="title asc" class="py-1 px-2 block w-full text-left">Name Ascending</button>
							</li>
							<li>
								<button name="sort" value="title desc" class="py-1 px-2 block w-full text-left">Name Descending</button>
							</li>
						</ul>
						</ul>
					</div>

					<h2 class="inline-block align-middle">{{count}} Publishers Found</h2>
				</form>
			
				<ul class="dataset_list w-full list-none">
          {% for organization in organizations %}
					<li class="p-6 mb-4 border-4 border-gray-300 hover:border-blue-600">
						<h5>
							<a href="/publisher/{{organization.name}}">{{organization.title}}</a>
						</h5>
						
            {% if organization.count %}
						<p>{{organization.count}} Datasets</p>
            {% else %}
						<p>0 Datasets</p>
            {% endif %}
					</li>
          {% endfor %}
				</ul>
			</section>

    {% if numberOfPages > 1 %}
    {% macro highlight_if_current(page) %}{% if page == currentPage %}active{% else %}inactive{% endif %}{% endmacro %}
		<div class="mt-10 w-full text-center pagination">
			<ul class="list-none block w-full">
        {% if currentPage != 1 %}
          <li class="inline-block align-middle py-2 px-3 font-semibold border">
            <a class="text-teal-700" href="{{setParam(href, 'page', currentPage-1)}}">&laquo;</a>
          </li>
        {% endif %}
        {% for p in pagination %}
          <li class="inline-block align-middle py-2 px-3 font-semibold border {{highlight_if_current(p)}}">
            {% if p == '...' %}
              <a class="text-teal-700">{{p}}</a>
            {% else %}
              <a class="text-teal-700" href="{{setParam(href, 'page', p)}}">{{p}}</a>
            {% endif %}
          </li>
        {% endfor %}
        {% if currentPage != numberOfPages %}
          <li class="inline-block align-middle py-2 px-3 font-semibold border">
            <a class="text-teal-700" href="{{setParam(href, 'page', currentPage+1)}}">&raquo;</a>
          </li>
        {% endif %}
			</ul>
		</div>
    {% endif %}

		</div>
	</div>

</div>

{% endblock %}
