{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{ title }}
{% endblock %}

{% block bodyclass %}search{% endblock %}

{% block content %}


<div class="flex flex-wrap search_page collection_page publisher_page">

	<!-- Left sidebar -->
	<div class="leftbar xl:w-1/5 lg:w-1/4 md:w-1/3 w-full">
		<div class="sidebar_content_wrap fixed pb-40" id="scrollbar">
      {% include './includes/_publisher_banner.html' %}

      {% include './includes/_search_sidebar_organizations.html' %}

      {% include './includes/_search_sidebar_groups.html' %}

      {% include './includes/_search_sidebar_tags.html' %}

			<section class="md:block lg:block xl:block hidden border-b border-gray-300 px-6 py-4">
				<h4 class="text-sm my-3">Formats</h4>
				<nav class="w-full block">
					<ul class="block w-full py-4">
						<li class="usa-checkbox" onClick="javascript: item_ref = document.getElementById('CSV'); window.location.href = '/dataset?groups=CSV'">
							<input id='CSV' class="usa-checkbox__input nav-item " type="checkbox" name="">
							<label class="usa-checkbox__label" for="truth">CSV <span>3</span></label>
						</li>

						<li class="usa-checkbox" onClick="javascript: item_ref = document.getElementById('PDF'); window.location.href = '/dataset?groups=PDF'">
							<input id='PDF' class="usa-checkbox__input nav-item " type="checkbox" name="">
							<label class="usa-checkbox__label" for="truth">PDF <span>1</span></label>
						</li>
					</ul>
				</nav>
			</section>

			<section class="md:block lg:block xl:block hidden border-b border-gray-300 px-6 py-4">
				<h4 class="text-sm my-3">Licenses</h4>
				<nav class="w-full block">
					<ul class="block w-full py-4">
						<li class="usa-checkbox" onClick="javascript: item_ref = document.getElementById('USGovernmentworks'); window.location.href = '/dataset?groups=US-Government-works'">
							<input id='USGovernmentworks' class="usa-checkbox__input nav-item " type="checkbox" name="">
							<label class="usa-checkbox__label" for="truth">U.S. Government Works <span>3</span></label>
						</li>
					</ul>
				</nav>
			</section>

		</div>
	</div>

	<!-- Right Content -->
	<div class="rightcontent xl:w-3/5 lg:w-3/4 md:w-2/3 w-full bg-white py-12 pl-16 pr-0">
		<div class="collection_tab mb-6">
			<div class="sub_head">
				<ul class="list-none">
					<li>
						<a class="active" href="/publisher/{{organization.name}}">Datasets</a>
					</li>

					<li>
						<a href="/publisher/{{organization.name}}/activity-stream"><i class="fa fa-clock"></i> Activity Stream</a>
					</li>

					<li>
						<a href="/publisher/{{organization.name}}/about"><i class="fa fa-info-circle"></i> About</a>
					</li>
				</ul>
			</div>

			<section class="pb-5 block w-full">
				<form id="dataset-search-form">
					<div class="input-group">
						<input type="text" name="q" placeholder="Search Datasets" value="{{searchParams.get('q')}}">
						<span class="input-group-btn">
							<i class="fa fa-search"></i>
						</span>
					</div>

          {% include './includes/_search_sort.html' %}

					<h2 class="inline-block align-middle">{{count}} Datasets Found</h2>
				</form>
			
        {% include './includes/_search_results.html' %}

        {% if numberOfPages > 1 %}
        {% macro highlight_if_current(page) %}{% if page == currentPage %}active{% else %}inactive{% endif %}{% endmacro %}
        <div class="mt-10 w-full text-center pagination">
          <ul class="list-none block w-full">
            {% if currentPage != 1 %}
              <li class="inline-block align-middle py-2 px-3 font-semibold border">
                <a class="text-teal-700" href="{{setParam(href, 'page', currentPage-1)}}">&laquo;</a>
              </li>
            {% endif %}
            {% for p in pagination %}
              <li class="inline-block align-middle py-2 px-3 font-semibold border {{highlight_if_current(p)}}">
                {% if p == '...' %}
                  <a class="text-teal-700">{{p}}</a>
                {% else %}
                  <a class="text-teal-700" href="{{setParam(href, 'page', p)}}">{{p}}</a>
                {% endif %}
              </li>
            {% endfor %}
            {% if currentPage != numberOfPages %}
              <li class="inline-block align-middle py-2 px-3 font-semibold border">
                <a class="text-teal-700" href="{{setParam(href, 'page', currentPage+1)}}">&raquo;</a>
              </li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
			</section>
		</div>
	</div>


	<p class="page-name page-home hidden">search</p>

</div>

{% endblock %}
