{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{ title }}
{% endblock %}

{% block bodyclass %}search{% endblock %}

{% block content %}


<div class="flex flex-wrap search_page collection_page publisher_page">

	<!-- Left sidebar -->
	<div class="leftbar xl:w-1/5 lg:w-1/4 md:w-1/3 w-full py-6">
    {% include './includes/_publisher_banner.html' %}
	</div>

	<!-- Right Content -->
	<div class="rightcontent xl:w-3/5 lg:w-3/4 md:w-2/3 w-full bg-white py-12 pl-16 pr-0">
		<div class="collection_tab mb-6">
			<div class="sub_head">
				<ul class="list-none">
					<li>
						<a href="/publisher/{{organization.name}}">Datasets</a>
					</li>

					<li>
						<a class="active" href="/publisher/{{organization.name}}/activity-stream"><i class="fa fa-clock"></i> Activity Stream</a>
					</li>

					<li>
						<a href="/publisher/{{organization.name}}/about"><i class="fa fa-info-circle"></i> About</a>
					</li>
				</ul>
			</div>

			<section class="pb-5 block w-full">
        <ul class="activity">
          {% for item in activity %}
					<li class="item {{activityMap[item.activity_type].slug}}">
						<i class="fa icon {{activityMap[item.activity_type].icon}}"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar"> 
                <a href="#">{{users[item.user_id].display_name}}</a> 
                {% if item.activity_type == 'new user' %}
                  signed up
                {% elif item.activity_type == 'changed user' %}
                  updated their profile
                {% elif item.activity_type == 'new package' %}
                  created the dataset
                  <a href="#">{{item.data.package.title}}</a>
                {% elif item.activity_type == 'changed package' %}
                  updated the dataset
                  <a href="#">{{item.data.package.title}}</a>
                {% elif item.activity_type == 'new resource' %}
                  added the resource
                  <a href="#">{{item.object_id}}</a>
                {% elif item.activity_type == 'changed resource' %}
                  changed the resource
                  <a href="#">{{item.object_id}}</a>
                {% elif item.activity_type == 'new organization' %}
                  created the office
                  <a href="#">{{item.data.group.title}}</a>
                {% elif item.activity_type == 'changed organization' %}
                  updated the office
                  <a href="#">{{item.data.group.title}}</a>
                {% elif item.activity_type == 'added tag' %}
                  added the tag
                  <a href="#">{{item.object_id}}</a>
                {% else %}
                  </span> {{item.activity_type}}
                  <a href="#">{{item.object_id}}</a>
                {% endif %}

							<span title="{{moment(item.timestamp).format('MMMM D, YYYY, HH:mm Z')}}" class="date">{{moment(item.timestamp).fromNow()}}</span>
						</p>
					</li>
          {% endfor %}
        </ul>
			</section>
		</div>
	</div>

</div>

{% endblock %}
