{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{ title }}
{% endblock %}

{% block bodyclass %}search{% endblock %}

{% block content %}

  <script type="text/javascript">
    var setParam = function(href, param, value) {
      var urlObject = new URL(href);
      if (!value) {
        urlObject.searchParams.delete(param);
      } else {
        urlObject.searchParams.set(param, value);
      }
      return urlObject.href;
    }
  </script>

<div class="flex flex-wrap search_page">

	<!-- Left sidebar -->
	<div class="leftbar xl:w-1/5 lg:w-1/4 md:w-1/3 w-full">
		<div class="sidebar_content_wrap fixed pb-40" id="scrollbar">

      {% include './includes/_search_sidebar_groups.html' %}

      {% include './includes/_search_sidebar_tags.html' %}

      {% include './includes/_search_sidebar_organizations.html' %}

      {% include './includes/_search_sidebar_lod.html' %}

			<a href="javascript:void(0)" id="close" class="hidden">
				<i class="fa fa-times-circle"></i>
			</a>
		</div>
	</div>

	<!-- Right Content -->
	<div class="rightcontent xl:w-3/5 lg:w-3/4 md:w-2/3 w-full bg-white py-16 pl-12">
		<div class="filters float-right mb-3">
			<section class="inline-block align-top mb-2">
				<div class="select-wrap">
					<select class="border-0" id='format' onchange="javascript: item_ref = document.getElementById('format'); window.location.href = setParam(window.location.href, 'format', item_ref.value);">
            <option value="">Choose an option</option>
            {% for format in filters.format %}
              <option value="{{format}}"
                      {% if searchParams.get('format') == format %}
                        selected="selected"
                      {% endif %}
                      >{{format}}</option>
            {% endfor %}
					</select>
				</div>
			</section>

      <!-- 
			<section class="inline-block align-top mb-2">
				<div class="select-wrap">
					<select class="border-0" id='spatial' onchange="javascript: item_ref = document.getElementById('spatial'); window.location.href = item_ref.value;">
						<option value="/dataset?spatial=United+States">United States</option>
						<option value="/dataset?spatial=All+states+and+territories">All states and terr...
						</option>
						<option value="/dataset?spatial=Lincoln%2C+Nebraska">Lincoln, Nebraska</option>
						<option value="/dataset?spatial=Nebraska">Nebraska</option>
						<option value="/dataset?spatial=Tbilisi">Tbilisi</option>
					</select>
				</div>
			</section>
      -->

			<section class="inline-block align-top mb-2">
				<div class="select-wrap">
					<select class="border-0" id='license' onchange="javascript: item_ref = document.getElementById('license'); window.location.href = setParam(window.location.href, 'license', item_ref.value);">
            <option value="">Choose an option</option>
            {% for license in filters.license %}
              <option value="{{license.type}}"
                      {% if searchParams.get('license') == license.type %}
                        selected="selected"
                      {% endif %}
                      >{{license.title}}</option>
            {% endfor %}
					</select>
				</div>
			</section>

			<section class="inline-block align-top mb-2">
				<a href="dataset" class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-full block ml-1">Clear All</a>
			</section>
		</div>

		<p class="clearfix"></p>

		<form id="dataset-search-form" class="my-8" method="get" data-module="select-switch">
      {% include './includes/_search_sort.html' %}

			<h2 class="inline-block align-middle text-lg">{{count}} datasets found</h2>

			<div class="my-3 sm:block md:hidden lg:hidden xl:hidden">
				<a class="filter_result border rounded inline-block py-2 px-3" href="javascript:void(0)">Filter Results</a>
			</div>
		</form>

    {% include './includes/_search_results.html' %}

    {% if numberOfPages > 1 %}
    {% macro highlight_if_current(page) %}{% if page == currentPage %}active{% else %}inactive{% endif %}{% endmacro %}
		<div class="mt-10 w-full text-center pagination">
			<ul class="list-none block w-full">
        {% if currentPage != 1 %}
          <li class="inline-block align-middle py-2 px-3 font-semibold border">
            <a class="text-teal-700" href="{{setParam(href, 'page', currentPage-1)}}">&laquo;</a>
          </li>
        {% endif %}
        {% for p in pagination %}
          <li class="inline-block align-middle py-2 px-3 font-semibold border {{highlight_if_current(p)}}">
            {% if p == '...' %}
              <a class="text-teal-700">{{p}}</a>
            {% else %}
              <a class="text-teal-700" href="{{setParam(href, 'page', p)}}">{{p}}</a>
            {% endif %}
          </li>
        {% endfor %}
        {% if currentPage != numberOfPages %}
          <li class="inline-block align-middle py-2 px-3 font-semibold border">
            <a class="text-teal-700" href="{{setParam(href, 'page', currentPage+1)}}">&raquo;</a>
          </li>
        {% endif %}
			</ul>
		</div>
    {% endif %}

	<p class="page-name page-home hidden">search</p>
	
	</div>
</div>
{% endblock %}
