{% extends "base.html" %}

{% block bodyclass %}dash{% endblock %}
{% block content %}

<div class="flex flex-wrap">
	<!-- Left sidebar -->
	<div class="leftbar xl:w-1/5 lg:w-1/4 w-full py-10">
		<h4 class="px-6 text-sm my-3">Statistics</h4>

		<nav class="block flex">
			<ul class="nav flex flex-wrap pt-4 pb-16">
				<li class="nav-item w-full">
					<a id="tab1" class="nav-link py-3 px-6 block active" href="#stats-total-datasets" data-toggle="tab" role="tab" aria-controls="stats-total-datasets" aria-selected="true">Total Number of Datasets</a>
				</li>
				
				<li class="w-full">
					<a id="tab2" class="nav-link py-3 px-6 block" href="#stats-dataset-revisions" data-toggle="tab" role="tab" aria-controls="stats-dataset-revisions" aria-selected="false">Dataset Revisions per Week</a>
				</li>
				
				<li class="w-full">
					<a id="tab3" class="nav-link py-3 px-6 block" href="#stats-top-rated" data-toggle="tab" role="tab" aria-controls="stats-top-rated" aria-selected="false">Top Rated Datasets</a>
				</li>
				
				<li class="w-full">
					<a id="tab4" class="nav-link py-3 px-6 block" href="#stats-most-edited" data-toggle="tab" role="tab" aria-controls="stats-most-edited" aria-selected="false">Most Edited Datasets</a>
				</li>
				
				<li class="w-full">
					<a id="tab5" class="nav-link py-3 px-6 block" href="#stats-largest-groups" data-toggle="tab" role="tab" aria-controls="stats-largest-groups" aria-selected="false">Largest Categories</a>
				</li>
				
				<li class="w-full">
					<a id="tab6" class="nav-link py-3 px-6 block" href="#stats-top-tags" data-toggle="tab" role="tab" aria-controls="stats-top-tags" aria-selected="false">Top Tags</a>
				</li>
				
				<li class="w-full">
					<a id="tab7" class="nav-link py-3 px-6 block" href="#stats-most-create" data-toggle="tab" role="tab" aria-controls="stats-most-create" aria-selected="false">Users Creating Most Datasets</a>
				</li>
			</ul>
		</nav>
	</div>


	<!-- Right Content -->
	<div class="rightcontent xl:w-3/5 lg:w-2/4 w-full bg-white py-16 pl-16">
		<div class="tab-content" id="myTabContent">
			<!-- ********** Section 1 ********** -->
			<section id="stats-total-datasets" class="tab-pane fade show active" role="tabpanel" aria-labelledby="tab1">
				<h2>Total number of Datasets</h2>
				<div class="border-4 border-gray-300 overflow-hidden relative">
					<div class="overflow-y-auto scrollbar-w-2 scrollbar-track-gray-lighter scrollbar-thumb-rounded scrollbar-thumb-gray scrolling-touch">
						<table class="w-full text-left table-collapse" data-module="plot" data-module-xaxis="{&#34;timeformat&#34;: &#34;%y-%b&#34;, &#34;mode&#34;: &#34;time&#34;}" data-module-yaxis="{&#34;min&#34;: 0}">
							<thead>
								<tr>
									<th class="uppercase text-sm font-semibold text-gray-700 p-2 border-r">Date</th>
									<th class="uppercase text-sm font-semibold text-gray-700 p-2">Total datasets</th>
								</tr>
							</thead>
							<tbody>
                {% for total in stats.raw_packages_by_week %}
                  <tr>
                    <td class="text-sm font-light text-gray-700 p-2 border-t border-r" data-type="date" data-value="1535932800">{{total.date}}</td>
                    <td class="text-sm font-light text-gray-700 p-2 border-t">{{total.total_packages}}</td>
                  </tr>
                {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</section>


			<!-- ********** Section 2 ********** -->
			<section id="stats-dataset-revisions" class="tab-pane fade" role="tabpanel" aria-labelledby="tab2">
				<h2>Dataset Revisions per Week</h2>

				<div class="border-4 border-gray-300 overflow-hidden relative">
					<div class="overflow-y-auto scrollbar-w-2 scrollbar-track-gray-lighter scrollbar-thumb-rounded scrollbar-thumb-gray scrolling-touch">

						<table class="w-full text-left table-collapse" data-module="plot" data-module-xaxis="{&#34;timeformat&#34;: &#34;%y-%b&#34;, &#34;mode&#34;: &#34;time&#34;}" data-module-lines="{&#34;fill&#34;: 1}">
							<thead>
								<tr>
									<th class="uppercase text-sm font-semibold text-gray-700 p-2 border-r">Date</th>
									<th class="uppercase text-sm font-semibold text-gray-700 p-2 border-r">All dataset revisions</th>
									<th class="uppercase text-sm font-semibold text-gray-700 p-2">New datasets</th>
								</tr>
							</thead>
							<tbody>
                {% for total in stats.raw_all_package_revisions %}
								<tr>
									<td class="text-sm font-light text-gray-700 p-2 border-t border-r" data-type="date" data-value="1535328000">
                    {{total.date}}
                  </td>
									<td class="text-sm font-light text-gray-700 p-2 border-t border-r">
                    {{total.total_revisions}}
                  </td>
									<td class="text-sm font-light text-gray-700 p-2 border-t">
                    {{stats.raw_new_datasets[loop.index-1].new_packages}}
                  </td>
								</tr>
                {% endfor %}
							</tbody>
						</table>
					</div>
				</div>

			</section>


			<!-- ********** Section 3 ********** -->
			<section id="stats-top-rated" class="tab-pane fade" role="tabpanel" aria-labelledby="tab3">
				<h2>Top Rated Datasets</h2>
        {% if stats.top_rated_packages.length < 1 %}
				<p class="empty text-gray-600"><i>No ratings</i></p>
        {% else %}
				<table class="w-full text-left table-collapse" data-module="plot" data-module-xaxis="{&#34;timeformat&#34;: &#34;%y-%b&#34;, &#34;mode&#34;: &#34;time&#34;}" data-module-yaxis="{&#34;min&#34;: 0}">
					<thead>
						<tr>
							<th class="uppercase text-sm font-semibold text-gray-700 p-2 border-r">Dataset</th>
							<th class="uppercase text-sm font-semibold text-gray-700 p-2">Average rating</th>
							<th class="uppercase text-sm font-semibold text-gray-700 p-2">Number of ratings</th>
						</tr>
					</thead>
					<tbody>
            {% for total in stats.top_rated_packages %}
						<tr>
							<td class="text-sm font-light text-gray-700 p-2 border-t border-r">{{total.package.title}}</td>
							<td class="text-sm font-light text-gray-700 p-2 border-t border-r">{{total.rating}}</td>
							<td class="text-sm font-light text-gray-700 p-2 border-t border-r">{{total.num_ratings}}</td>
						</tr>
            {% endfor %}
					</tbody>
				</table>
        {% endif %}
			</section>


			<!-- ********** Section 4 ********** -->
			<section id="stats-most-edited" class="tab-pane fade" role="tabpanel" aria-labelledby="tab4">
				<h2>Most Edited Datasets</h2>

				<div class="border-4 border-gray-300 overflow-hidden relative">
					<div class="overflow-y-auto scrollbar-w-2 scrollbar-track-gray-lighter scrollbar-thumb-rounded scrollbar-thumb-gray scrolling-touch">
						<table class="w-full text-left table-collapse" data-module="plot" data-module-xaxis="{&#34;timeformat&#34;: &#34;%y-%b&#34;, &#34;mode&#34;: &#34;time&#34;}" data-module-yaxis="{&#34;min&#34;: 0}">
							<thead>
								<tr>
									<th class="uppercase text-sm font-semibold text-gray-700 p-2 border-r">Dataset</th>
									<th class="uppercase text-sm font-semibold text-gray-700 p-2">Number of edits</th>
								</tr>
							</thead>
							<tbody>
            {% for total in stats.most_edited_packages %}
						<tr>
							<td class="text-sm font-light text-gray-700 p-2 border-t border-r">{{total.title}}</td>
							<td class="text-sm font-light text-gray-700 p-2 border-t border-r">{{total.count}}</td>
						</tr>
            {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</section>


			<!-- ********** Section 5 ********** -->
			<section id="stats-largest-groups" class="tab-pane fade" role="tabpanel" aria-labelledby="tab5">
				<h2>Largest Categories</h2>

				<div class="border-4 border-gray-300 overflow-hidden relative">
					<div class="overflow-y-auto scrollbar-w-2 scrollbar-track-gray-lighter scrollbar-thumb-rounded scrollbar-thumb-gray scrolling-touch">
						<table class="w-full text-left table-collapse" data-module="plot" data-module-xaxis="{&#34;timeformat&#34;: &#34;%y-%b&#34;, &#34;mode&#34;: &#34;time&#34;}" data-module-yaxis="{&#34;min&#34;: 0}">
							<thead>
								<tr>
									<th class="uppercase text-sm font-semibold text-gray-700 p-2 border-r">Category</th>
									<th class="uppercase text-sm font-semibold text-gray-700 p-2">Number of Datasets</th>
								</tr>
							</thead>
							<tbody>
                {% for total in stats.largest_groups %}
                <tr>
                  <td class="text-sm font-light text-gray-700 p-2 border-t border-r">{{total.title}}</td>
                  <td class="text-sm font-light text-gray-700 p-2 border-t border-r">{{total.count}}</td>
                </tr>
                {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</section>


			<!-- ********** Section 6 ********** -->
			<section id="stats-top-tags" class="tab-pane fade" role="tabpanel" aria-labelledby="tab6">
				<h2>Top Tags</h2>

				<div class="border-4 border-gray-300 overflow-hidden relative">
					<div class="overflow-y-auto scrollbar-w-2 scrollbar-track-gray-lighter scrollbar-thumb-rounded scrollbar-thumb-gray scrolling-touch">
						<table class="w-full text-left table-collapse" data-module="plot" data-module-xaxis="{&#34;timeformat&#34;: &#34;%y-%b&#34;, &#34;mode&#34;: &#34;time&#34;}" data-module-yaxis="{&#34;min&#34;: 0}">
							<thead>
								<tr>
									<th class="uppercase text-sm font-semibold text-gray-700 p-2 border-r">Tag Name</th>
									<th class="uppercase text-sm font-semibold text-gray-700 p-2">Number of Datasets</th>
								</tr>
							</thead>
							<tbody>
                {% for total in stats.top_tags %}
                <tr>
                  <td class="text-sm font-light text-gray-700 p-2 border-t border-r">{{total.name}}</td>
                  <td class="text-sm font-light text-gray-700 p-2 border-t border-r">{{total.count}}</td>
                </tr>
                {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</section>


			<!-- ********** Section 7 ********** -->
			<section id="stats-most-create" class="tab-pane fade" role="tabpanel" aria-labelledby="tab7">
				<h2>Users Creating Most Datasets</h2>

				<div class="border-4 border-gray-300 overflow-hidden relative">
					<div class="overflow-y-auto scrollbar-w-2 scrollbar-track-gray-lighter scrollbar-thumb-rounded scrollbar-thumb-gray scrolling-touch">
						<table class="w-full text-left table-collapse" data-module="plot" data-module-xaxis="{&#34;timeformat&#34;: &#34;%y-%b&#34;, &#34;mode&#34;: &#34;time&#34;}" data-module-yaxis="{&#34;min&#34;: 0}">
							<thead>
								<tr>
									<th class="uppercase text-sm font-semibold text-gray-700 p-2 border-r">User</th>
									<th class="uppercase text-sm font-semibold text-gray-700 p-2">Number of Datasets</th>
								</tr>
							</thead>
							<tbody>
                {% for total in stats.top_package_creators %}
								<tr>
									<td class="text-sm font-light text-gray-700 p-2 border-t border-r" data-type="date" data-value="1535328000">
										<img class="inline-block mr-px" src="//gravatar.com/avatar/{{total.gravatar}}?s=20&amp;d=identicon" class="gravatar" width="20" height="20" alt="Gravatar" />
										<a class="inline-block" href="#">{% if total.fullname %}{{total.fullname}}{% else %}{{total.name}}{% endif %}</a>
									</td>
									<td class="text-sm font-light text-gray-700 p-2 border-t">{{total.count}}</td>
								</tr>
                {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</section>

		</div>
	</div>
</div>
{% endblock %}
