{% extends "base.html" %}

{% block title%}{{title}}{% endblock %}

{% block bodyclass %}blog static{% endblock %}

{% block content %}
<!-- blog post page test placeholder -->

<div class="flex flex-wrap about_page">
    <!-- Left sidebar -->
    <div class="leftbar xl:w-1/5 lg:w-1/4 w-full">
        <div class="sidebar_content_wrap fixed pb-40" id="scrollbar">
            <h4 class="px-6 text-md my-3">{{title}}</h4>
            
        </div>
    </div>


    <!-- Right Content -->
    <div class="rightcontent static-holder xl:w-3/5 lg:w-2/4 w-full bg-white p-16">
        <div class="tab-content" id="myTabContent">
            <!-- ********** Section 1 ********** -->
            <section class="py-4" id="Department-of-Education">
                <img src="/static/images/dept-of-ed-logo.png">
				
				<h1> {{title}} </h1>
				
                {{content | safe}}

        </div>
    </div>

    <p class="page-name page-home hidden">search</p>
</div>


{% endblock %}
