{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{ title }}
{% endblock %}

{% block bodyclass %}search{% endblock %}

{% block content %}


<div class="flex flex-wrap search_page collection_page publisher_page">

	<!-- Left sidebar -->
	<div class="leftbar xl:w-1/5 lg:w-1/4 md:w-1/3 w-full py-6">
    {% include './includes/_topic_banner.html' %}
	</div>

	<!-- Right Content -->
	<div class="rightcontent xl:w-3/5 lg:w-3/4 md:w-2/3 w-full bg-white py-12 pl-16 pr-0">
		<div class="collection_tab mb-6">
			<div class="sub_head">
				<ul class="list-none">
					<li>
						<a href="/topic/{{topic.name}}"><i class="fa fa-sitemap"></i>Datasets</a>
					</li>

					<li>
						<a class="active" href="/topic/{{topic.name}}/activity-stream"><i class="fa fa-clock"></i> Activity Stream</a>
					</li>

					<li>
						<a href="/topic/{{topic.name}}/about"><i class="fa fa-info-circle"></i> About</a>
					</li>
				</ul>
			</div>

			<section class="pb-5 block w-full">
				<ul class="activity">
					<li class="item changed-organization">
						<i class="fa icon fa-briefcase"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar"> 
								<a href="#">ckan_admin</a>
							</span> updated the office 
							<a href="#">Federal Student Aid</a>
							<span class="date">1 month ago</span>
						</p>
					</li>

					<li class="item new-resource">
						<i class="fa icon fa-file"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar"> 
								<a href="#">ckan_admin</a>
							</span> added the resource 
							<a href="#">this-is-a-new-dataset1</a> to the dataset 
							<span>
								<a href="#">This is a new dataset</a>
							</span>
							<span class="date">2 months ago</span>
						</p>
					</li>

					<li class="item new-package">
						<i class="fa icon fa-sitemap"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar">
								<a href="#">ckan_admin</a>
							</span> created the dataset 
							<span>
								<a href="#">This is a new dataset</a>
							</span>
							<span class="date" title="June 28, 2019, 13:41 (UTC)">2 months ago</span>
						</p>
					</li>

					<li class="item changed-package">
						<i class="fa icon fa-sitemap"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar"> 
								<a href="#">ckan_admin</a>
							</span> updated the dataset 
							<span>
								<a href="#">Test Data for demo</a>
							</span>
							<span class="date">2 months ago</span>
						</p>
					</li>

					<li class="item changed-package">
						<i class="fa icon fa-sitemap"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar"> 
								<a href="#">ckan_admin</a>
							</span> updated the dataset 
							<span>
								<a href="#">test1234</a>
							</span>
							<span class="date">2 months ago</span>
						</p>
					</li>

					<li class="item changed-resource">
						<i class="fa icon fa-file"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar">
								<a href="#">ckan_admin</a>
							</span> updated the resource 
							<a href="#">test</a> in the dataset 
							<span>
								<a href="/dataset/test1234">test1234</a>
							</span>
							<span class="date">2 months ago</span>
						</p>
					</li>

					<li class="item new-resource">
						<i class="fa icon fa-file"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar">
								<a href="#">ckan_admin</a>
							</span> added the resource 
							<a href="#">test</a> to the dataset 
							<span>
								<a href="#">test1234</a>
							</span>
							<span class="date">2 months ago</span>
						</p>
					</li>

					<li class="item new-package">
						<i class="fa icon fa-sitemap"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar"> 
								<a href="#">ckan_admin</a>
							</span> created the dataset 
							<span>
								<a href="#">test1234</a>
							</span>
							<span class="date">2 months ago</span>
						</p>
					</li>

					<li class="item new-resource">
						<i class="fa icon fa-file"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar">
								<a href="#">ckan_admin</a>
							</span> added the resource 
							<a href="#">example resource</a> to the dataset 
							<span>
								<a href="/dataset/demo123">demo123</a>
							</span>
							<span class="date">2 months ago</span>
						</p>
					</li>

					<li class="item new-package">
						<i class="fa icon fa-sitemap"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar"> 
								<a href="#">ckan_admin</a>
							</span> created the dataset 
							<span>
								<a href="#">demo123</a>
							</span>
							<span class="date">2 months ago</span>
						</p>
					</li>

					<li class="item changed-resource">
						<i class="fa icon fa-file"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar"> 
								<a href="#">ckan_admin</a>
							</span> updated the resource 
							<a href="#">test document this is a test document</a> in the dataset 
							<span>
								<a href="#">bug triage dataset</a>
							</span>
							<span class="date">2 months ago</span>
						</p>
					</li>

					<li class="item changed-resource">
						<i class="fa icon fa-file"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar"> 
								<a href="#">ckan_admin</a>
							</span> updated the resource 
							<a href="#">test document this is a test document</a> in the dataset 
							<span>
								<a href="#">bug triage dataset</a>
							</span>
							<span class="date">2 months ago</span>
						</p>
					</li>

					<li class="item changed-resource">
						<i class="fa icon fa-file"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar"> 
								<a href="#">ckan_admin</a>
							</span> updated the resource 
							<a href="#">test document this is a test document</a> in the dataset 
							<span>
								<a href="#">bug triage dataset</a>
							</span>
							<span class="date">2 months ago</span>
						</p>
					</li>

					<li class="item new-resource">
						<i class="fa icon fa-file"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar"> 
								<a href="#">ckan_admin</a>
							</span> added the resource 
							<a href="#">test document</a> to the dataset 
							<span>
								<a href="#">bug triage dataset</a>
							</span>
							<span class="date">2 months ago</span>
						</p>
					</li>

					<li class="item changed-package">
						<i class="fa icon fa-sitemap"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar">
								<a href="#">ckan_admin</a>
							</span> updated the dataset 
							<span>
								<a href="#">bug triage dataset</a>
							</span>
							<span class="date">2 months ago</span>
						</p>
					</li>

					<li class="item changed-package">
						<i class="fa icon fa-sitemap"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar">
								<a href="#">ckan_admin</a>
							</span> updated the dataset 
							<span>
								<a href="#">bug triage dataset</a>
							</span>
							<span class="date">2 months ago</span>
						</p>
					</li>

					<li class="item changed-package">
						<i class="fa icon fa-sitemap"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar">
								<a href="#">ckan_admin</a>
							</span> updated the dataset 
							<span>
								<a href="#">bug triage dataset</a>
							</span>
							<span class="date">2 months ago</span>
						</p>
					</li>

					<li class="item added-tag">
						<i class="fa icon fa-tag"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar">
								<a href="#">ckan_admin</a>
							</span> added the tag 
							<a href="#">expenditures</a> to the dataset 
							<span>
								<a href="#">roads</a>
							</span>
							<span class="date">3 months ago</span>
						</p>
					</li>

					<li class="item changed-package">
						<i class="fa icon fa-sitemap"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar"> 
								<a href="#">ckan_admin</a>
							</span> updated the dataset 
							<span>
								<a href="#">roads</a>
							</span>
							<span class="date">3 months ago</span>
						</p>
					</li>

					<li class="item new-organization">
						<i class="fa icon fa-briefcase"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar">
								<a href="#">ckan_admin</a>
							</span> created the office 
							<a href="#">Federal Student Aid</a>
							<span class="date">3 months ago</span>
						</p>
					</li>

					<li class="item changed-user">
						<i class="fa icon fa-user"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar">
								<a href="#">ckan_admin</a>
							</span> updated their profile
							<span class="date" title="March 14, 2019, 09:59 (UTC)">5 months ago</span>
						</p>
					</li>

					<li class="item changed-user">
						<i class="fa icon fa-user"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar"> 
								<a href="#">ckan_admin</a>
							</span> updated their profile
							<span class="date">12 months ago</span>
						</p>
					</li>

					<li class="item new-user">
						<i class="fa icon fa-user"></i>
						<p>
							<span class="actor">
								<img src="/static/images/icon.png" class="gravatar" width="30" height="30" alt="Gravatar"> 
								<a href="#">ckan_admin</a>
							</span> signed up
							<span class="date">12 months ago</span>
						</p>
					</li>
				</ul>
			</section>
		</div>
	</div>

</div>

{% endblock %}
