{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{ title }}
{% endblock %}

{% block bodyclass %}search{% endblock %}

{% block content %}


<div class="flex flex-wrap search_page collection_page publisher_page">

	<!-- Left sidebar -->
	<div class="leftbar xl:w-1/5 lg:w-1/4 md:w-1/3 w-full py-6">
    {% include './includes/_topic_banner.html' %}
	</div>


	<!-- Right Content -->
	<div class="rightcontent xl:w-3/5 lg:w-3/4 md:w-2/3 w-full bg-white py-12 pl-16 pr-0">
		<div class="collection_tab mb-6">
			<div class="sub_head">
				<ul class="list-none">
					<li>
						<a href="/topic/{{topic.name}}"><i class="fa fa-sitemap"></i>Datasets</a>
					</li>

					<li>
						<a href="/topic/{{topic.name}}/activity-stream"><i class="fa fa-clock"></i> Activity Stream</a>
					</li>

					<li>
						<a class="active" href="/topic/{{topic.name}}/about"><i class="fa fa-info-circle"></i> About</a>
					</li>
				</ul>
			</div>

			<section class="pb-5 block w-full">
				<h2 class="main_heading">Accreditation</h2>

				<p>The goal of accreditation is to ensure that institutions of higher education meet acceptable levels of quality. Accreditation in the United States involves non-governmental entities as well as federal and state government agencies. Accreditation’s quality assurance function is one of the three main elements of oversight governing the Higher Education Act’s (HEA’s) federal student aid programs. In order for students to receive federal student aid from the U.S. Department of Education (Department) for postsecondary study, the institution must be accredited by a “nationally recognized” accreditor (or, for certain vocational institutions, approved by a recognized state approval agency), be authorized by the state in which the institution is located, and receive approval from the Department through a program participation agreement.</p>
			</section>
		</div>
	</div>

</div>

{% endblock %}
