{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{ title }}
{% endblock %}

{% block bodyclass %}search{% endblock %}

{% block content %}


<div class="flex flex-wrap collection_page publisher_page">

	<!-- Left sidebar -->
	<div class="leftbar xl:w-1/5 lg:w-1/4 md:w-1/3 w-full py-10">
		<section class="block border-b">
			<h4 class="px-8 text-sm my-3">What are Topics?</h4>
			
			<div class="py-4 px-8 w-full">
				<p>You can use CKAN Topics to create and manage collections of datasets. This could be to catalogue datasets for a particular project or team, or on a particular theme, or as a very simple way to help people find and search your own published datasets. </p>
			</div>
		</section>
	</div>

	<!-- Right Content -->
	<div class="rightcontent xl:w-3/5 lg:w-3/4 md:w-2/3 w-full bg-white py-12 pl-16 pr-0">
		<div class="collection_tab mb-6">
			<section class="pb-5 block w-full">
				<form id="dataset-search-form">
					<div class="input-group">
						<input type="text" name="q" placeholder="Search Topics" value="{{searchParams.get('q')}}">
						  <span class="input-group-btn">
							<i class="fa fa-search"></i>
						</span>
					</div>

					<div class="float-right inline-block align-middle relative my-5">
						<label for="field-order-by" class="inline-block align-middle mr-2">Sort</label>
						<button class="inline-block align-middle dropdown-toggle" type="button" data-toggle="dropdown" title="Sort Order">
							<i class="material-icons">sort</i>
						</button>
						<ul class="dropdown-menu hidden bg-white rounded border border-gray-500 w-40 absolute">
							<li>
								<button name="sort" value="title asc" class="py-1 px-2 block w-full text-left">Name Ascending</button>
							</li>
							<li>
								<button name="sort" value="title desc" class="py-1 px-2 block w-full text-left">Name Descending</button>
							</li>
						</ul>
						</ul>
					</div>

					<h2 class="inline-block align-middle">{{count}} Topics Found</h2>
				</form>
			
				<ul class="dataset_list w-full list-none">
          {% for group in groups %}
					<li class="p-6 mb-4 border-4 border-gray-300 hover:border-blue-600">
						<h5>
							<a href="/topic/{{group.name}}">{{group.title}}</a>
						</h5>
						
            {% if group.count %}
						<p>{{group.count}} Datasets</p>
            {% else %}
						<p>0 Datasets</p>
            {% endif %}
					</li>
          {% endfor %}
				</ul>
			</section>

    {% if numberOfPages > 1 %}
    {% macro highlight_if_current(page) %}{% if page == currentPage %}active{% else %}inactive{% endif %}{% endmacro %}
		<div class="mt-10 w-full text-center pagination">
			<ul class="list-none block w-full">
        {% if currentPage != 1 %}
          <li class="inline-block align-middle py-2 px-3 font-semibold border">
            <a class="text-teal-700" href="{{setParam(href, 'page', currentPage-1)}}">&laquo;</a>
          </li>
        {% endif %}
        {% for p in pagination %}
          <li class="inline-block align-middle py-2 px-3 font-semibold border {{highlight_if_current(p)}}">
            {% if p == '...' %}
              <a class="text-teal-700">{{p}}</a>
            {% else %}
              <a class="text-teal-700" href="{{setParam(href, 'page', p)}}">{{p}}</a>
            {% endif %}
          </li>
        {% endfor %}
        {% if currentPage != numberOfPages %}
          <li class="inline-block align-middle py-2 px-3 font-semibold border">
            <a class="text-teal-700" href="{{setParam(href, 'page', currentPage+1)}}">&raquo;</a>
          </li>
        {% endif %}
			</ul>
		</div>
    {% endif %}

		</div>
	</div>

</div>

{% endblock %}
