/* Stats page */
.tab-content {
    padding-left:0;
    
    h2 {
        padding-bottom:10px;
    }
}

.leftbar{
	background-color: #F8F8F8;

	nav.block{
		ul{
			border-bottom: 1px solid #dcdee0;

			li{
				border-right: 4px solid transparent;

				a{
					color: #00274A;
					font-weight: 300;
				}

				a.active, a.active:hover, a.active:focus{
					background-color: #f4f4f4;
					border-right: 4px solid #2378c3;
					font-weight: 600;
				}

				a:hover,
				a:focus{
					background-color: #EEEEEE;
					outline-offset: 0;
					outline: none;
					box-shadow: none;
				}
			}

		}
	}
}

.rightcontent{

	.tab-content{

		h2{
			margin-bottom: 12px;
			padding-bottom: 10px;
		}

		.tab-pane{
			display: none;
		}

		.tab-pane.active{
			display: block;
		}
	}
}



@media (max-width: 1023px){
	.leftbar ul.nav{
        padding-bottom: 1rem !important;
    }
    
	.rightcontent.pl-16{
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}
