/* Dataset Page Styles */


//Dataset title - the top blue section of dataset page
.dataset-title {
    float:none;
    background-color:$theme-color-main;;
    padding: 50px 50px 40px 50px;

    @media screen and (max-width:768px){
        padding:36px 15px 10px 15px;
        box-shadow:0 0 0 transparent;
    }

    //Setting up the layout of contents inside dataset-heading
    .heading {
        font-size:1.9rem !important;
        border-bottom: 2px solid #193c5b;
        padding-bottom: 10px;
        color:#fff;
        line-height:1.7 !important;
    }

    .module-content {
        padding:0;
    }

    .module-heading {
        margin: 0;
        padding: 0;
        background-color: transparent;
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
    }

    label {
        font-weight:600;
        color: $theme-color-main;
        display: block;
        font-size: 0.8625rem;
        color:#fff;
        cursor:default;
    }

    span {
        @include typeset($theme-font-role-ui,'3xs',1);
        color:#b2bdc8;
    }

    //Styling the tags as per style guidelines
    .tag-custom {
        display:inline;
        background-color:transparent;
        padding-left:0;
        color:#b2bdc8;
    }

    .tag-custom:hover {
        opacity:.8;
    }

    //Custom columns for better control on paddings etc
    .col-custom {
        width:12%;
        float:left;
        padding:0 15px;

        @media screen and (max-width:768px){
            width:100%;
            float:none;
        }
    }


    .main-info {
        label {
            margin-top: 3px;
            margin-bottom: 8px;
        }

        @media screen and (max-width:768px){
            label {
                margin-top:15px;
            }
        }
    }

    .btn-manage {
        display:none;
    }
}

//Page advanced class used to separate the page layout from regular dataset pages for CKAN
.page-advanced{

    .page-header {
        background-color:#fff;
        padding-left: 20px;
    }
    .page-header.module-content {
        padding-top:0;
        margin-top:0;
        margin-bottom:0;
    }

    //Stying the 4 tabs on dataset tabs as per designs 
    .nav-tabs {
        padding-top:0px;
    }

    .nav-tabs > li {
        margin-right:30px;
    }

    .nav-tabs > li > a {
        color:$theme-color-main;
        font-weight:700;
        @include typeset($theme-font-role-ui,'xs',1);

        border-left:0;
        border-top:0;
        border-right:0;
        border-bottom:3px solid transparent;

        padding: 10px 15px 13px;

        i.material-icons {
            position: relative;
            top: 6px;
            min-height:24px;
            min-width:24px;
        }
    }

    .nav-tabs > li.active > a {
        border-left:0;
        border-top:0;
        border-right:0;
        border-bottom:3px solid $theme-color-green !important;
        color:$theme-color-main  !important;

    }

    .nav-tabs > li > a:hover {
        border-left:0;
        border-top:0;
        border-right:0;
        border-bottom:3px solid #ddd;
    }

    .content_action {
        margin-top:13px;
    }

    .primary {
        float:none;
    }


    /* Split Sections  -  the dataset page is divided into 2 columns, left for resources, right for content */
    .module > .module-content:nth-child(2n) {
        padding:0;
    }

    //inner-sidebar is where the resources are shown
    .inner-sidebar {
        float:left;
        min-height:400px;
        height:auto;
        color:$theme-color-main;

        @media screen and (max-width:768px){
            float:none;
            width:100%;
            height:auto;
            min-height:auto;
        }

        .side-content {
            padding-left:30px;
            padding-right:20px;
        }

        h4.side-heading {
            font-weight: 600;
            @include u-font-size('body', '2xs');
            color: $theme-color-main;
            padding-left:30px;
            padding-right:20px;
            padding-top:18px;
            margin-bottom: 20px;
            margin-top: 30px;
        }

        .module-shallow {
            border-bottom:1px solid color($theme-color-base-lighter);
            padding-bottom: 20px;

            p {
                margin-left:30px;
                margin-right:30px;
                display:inline-block;
                margin-top:14px;
                @include u-font-size('body', 'xs');
                color:$theme-color-alternate;
                padding:0;
                margin-top:0;
                margin-bottom:0;
            }

            p.underline {
                border-bottom:2px solid $theme-color-blue;
            }
        }


        .content-pad {
            padding:30px 20px 30px 30px;
        }


        .sidebar-nav {
            li {
                a{
                    padding-left:30px;
                    padding-right:20px;
                    color:$theme-color-main;
                    font-weight: 300;
                }
            }
    
            li.active {
                border-right:4px solid color($theme-color-primary) ;
    
                a {
                    font-weight: 600;
                    background-color:$theme-grey-dark;
                }
    
                a:hover {
                    background-color:$theme-grey-dark;
                }
            }
    
            padding-bottom:10px;
            border-bottom:0px solid color($theme-color-base-lighter);
    
    
            .usa-checkbox__label {
                span {
                    color: $theme-color-green;
                    @include u-font-size('body', '3xs');
                    padding-left: 12px;
                }
            }
        }
    } //End of inner sidebar


    //Iner primary for the resource preview 
    .inner-primary {
        float:left;
        min-height:400px;
        height:auto;
        background-color:#fff;

        padding:40px 100px;

        @media screen and (max-width:768px){
            padding:15px;
            padding-top:20px;
            float:none;
        }

        //Styling the elements inside the resource preview
        .module-content {
            padding:0;
        }

        .title{
            p {
                padding-top: 5px;
            }

            padding-bottom: 20px;
        }

        .module {
            margin-bottom:50px;
        }

        .module-resource {
            border-bottom:0;
        }

        .dataset-private.pull-right {
            margin-top:-10px;
            margin-right:10px;
        }
    }

    //Media Query to increase padding on larger screens
    @media screen and (min-width:768px){
        .inner-primary.wide {
            padding:40px 40px 40px 100px;
        }
    }


    //Media query to fix phpne issues
    @media screen and (max-width:768px){
        .nav-tabs > li > a,.nav-tabs > li > a:hover,.nav-tabs > li.active > a {
            border:0;
        }

        .page-header {
            padding-left: 0px;
        }
    }
}

// Dataset card is used to display each of the resource with a whtie card and green buttons
.dataset-card {
    padding:20px;
    background-color:#fff;
    border-radius:5px;
    border:2px solid $theme-grey-darker;
    margin-bottom:20px;
    position:relative;

    //Styling the dataset card items
    h5 {
        @include u-font-size('body', 'xs');
        color:$theme-color-alternate-dark;

        margin-top: 18px;
        margin-bottom: 10px;
        word-wrap: break-word;
    }

    .format {
        color:$theme-color-blue;
        background-color:#e7f2fd;
        font-size: .9em;
        padding: 3px 8px;
        border-radius: 40px;
        font-weight: 600;
    }

    .format:empty {
        display:none;
    }

    //Resource Download buttons are styled
    
    .download-btn {
        margin-top:10px;
        width:100%;
        text-transform: uppercase;
        font-size: 0.8375rem;

        background-color:$theme-color-green;
        border:3px solid $theme-color-green;
    }

    .download-btn:hover {
        opacity:.9;
    }

    .download-btn.outline {
        border:3px solid $theme-color-green;
        background:#fff;
        color:$theme-color-green;
    }

    .material-icons {
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: #0272e4;
        color: #fff;
        border-radius: 300px;
        padding: 3px;
        font-weight: bold;
        font-size: 16px;
    }
}
// Blue border when the resource is selectedd
.dataset-card.active {
    border:2px solid $theme-color-blue;

    h5 {
        color:$theme-color-main;
    }
}

.inclusion-text {
    color:$theme-color-main;
    color: #00274A;
    font-weight: 600;
    font-size: .86em !important;

    @media screen and (min-width:768px){
        float:right;
    }
}

.showcase-list {
    list-style: none;
}

//Usage-Tab Card where the showcase elements are shown with a background image
.showcase-card {

    width:30%;
    float:left;
    margin-right:2%;

    height:300px;
    margin-bottom:30px;
    border-radius:4px;
    background-color:$theme-color-main;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    background-position: center center;

    //Styling the inners of dataset card
    span {
        color: #fff;
        font-weight: 600;
        position: absolute;
        bottom: 20px;
        left: 25px;
        @include u-font-size('body', 'sm');
    }

    form {
        position:absolute;
        right:25px;
        top:20px;
    }

    .overlay {
        width: 100%;
        height: 100%;
        border-radius:4px;
        background-color: $theme-color-main;
        background: linear-gradient(0deg, rgba(0,39,74,1) 0%, rgba(255,255,255,0) 100%);
    }

    .overlay:hover {
        opacity:.8;
    }

    @media screen and (max-width:767px){
        width:100%;
    }

    @media screen and (min-width:768px) and (max-width:1200px){
        width:48%;
    }
}

.sidebar-btn { 
    padding:30px 30px 30px 30px;

    .usa-button {
        padding-right:40px;
        padding-left:40px;
    }
}

.ckanext-showcase-image-container {
    max-height:400px;
    overflow: hidden;
    border-radius: 4px;
}

.showcase-sidebar {
    .module-heading {
        border:0;
        background:transparent;
    }
    .context-info .info {
        padding-top:0;
    }

    .nav-simple {
        padding-top:0;
    }
}

.js .table-toggle-more .toggle-seperator {
    display: none;
}

//Fixing the navtabs for the nav-tab-plain, to have no paddings etc
.page-advanced {

    .nav-tabs-plain {
        padding-left:0;
        padding-top: 0px;
        padding-right: 0;
        float: left;
        width: auto;

        li {
            padding-right:0;
            margin-right:0;
        }
    }

    .module-resource .actions {
        top: 0px;
    }
}


.data-viewer-error {
    i {
        width:0;
    }
}

.drop-down-container {
    position:relative;

    .data-download {
        background:$theme-color-blue;
        border:0;
        border-radius:3px;
        padding:15px;
        margin-top:10px;
        color:#fff;
        padding: 4px 10px;
        
        span {
            margin:0;
        }
    }
}

.media-grid {
    margin-top:50px;
}

.page-advanced .content_action {
    margin-top:6px;
}


/* Docs Tab on the dataset page */
.page-advanced {
    .resource-list {
        margin:0;

        h5 {
            @include u-font-size('body', 'xs'); 
            padding-top:30px;
         }
    }
    
    

    .table {
        margin-top:25px;
    }

    .resource-list {
        ul {
            list-style: disc;
            display:inline-block;

            li {
                border-bottom:2px solid $theme-color-blue;
            }
        }
    }
    
}

.search_page {

    .leftbar {

        section.block{
            p{
                color: #405d77;
                font-size: .875rem;
                margin-bottom: 6px;
                line-height: 1.35;
            }
        }

        nav.block{

            ul{
                border-bottom: 0 none;

                li.usa-checkbox{
                    border-right: 0 none;

                    label{
                        font-size: 14px;

                        span{
                            margin-left: 1rem;
                            color: #348913;
                        }
                    }
                }

            }
        }
    }

    .rightcontent { 

        @media screen and (min-width:1280px){
            width: 64%;
        }

        @media screen and (max-width:1280px){
            padding-right: 3rem;
        }

        .filters{

            .select-wrap{
                margin-left: 0.25rem;
                background-color: #fff;
                border-radius: 100px;
                border: 2px solid #e8e8e8;
                padding: 5px 10px;
                position: relative;
            }
        }
    }
}


.leftbar {
    .sidebar_content_wrap.fixed{
       width: 20%;
       position: fixed;
       height: 85vh;
       top: 6rem;
       overflow-y: auto;
    }

    nav.block{
        ul{
            border-bottom: 0 none;
        }

        a.tag-custom{
            background-color: #ececec;
            border-radius: 3px;
            color: #3e474e;
            display: inline-block;
            font-size: .8125rem;
            margin: 0 2px 2px 0;
            padding: 4px 6px;
            text-transform: lowercase;
        }
        a.tag-custom:hover{
            background-color: #dfe1e2;
            color: #113845;
        }
    }
}

#dataset-search-form {
    
    .dropdown-toggle:focus{
        outline:none;
        outline-offset: 0;
        box-shadow: none;
    }

    .dropdown-menu {
        left: -25px;

        li {
            button.selected{
                background-color: #ECECEC;
            }
        }
    }
}

.dataset_list {
    li {
        h5{
            margin-bottom: 10px;
            a{
                /*font-size: 1.215rem;*/
                @include typeset($theme-font-role-heading,'md',1);
                color: #00274A;
                font-weight: 500;
            }
        }
        p {
            color: #00274A;
            font-size: .875rem;
            margin-bottom: 14px;
        }
    }
}

.pagination {
    li{
        border-color: #d4d4d4 !important;
        margin-right: -4px;
    }

    li:hover{
        background-color: #EEEEEE;
    }

    li.active:hover,
    li.active{
        background-color: #206B82;
        border-color: #206B82;
        
        a{
            color: #ffffff !important;
        }

        a:focus{
            outline: none;
            outline-offset: 0;
            box-shadow: none;
        }
    }
}


@media (max-width: 1280px){
    .leftbar .sidebar_content_wrap.fixed{
        width: 25%;
    }
}

@media (max-width: 1024px){
    #dataset-search-form .dropdown-menu{
        left: auto;
        right: 0;
    }
    .search_page .rightcontent{
        padding: 2rem !important;
    }
    .leftbar .sidebar_content_wrap.fixed{
        width: 33.3333%;
    }
}

@media (max-width: 767px){
    #dataset-search-form{
        margin-top: 1rem;
    }
    #dataset-search-form .float-right{
        float: unset !important;
        margin: 0.75rem 0;
        display: block;
    }

    #dataset-search-form h2.inline-block{
        display: block;
        margin: 0.75rem 0;
    }

    .search_page .leftbar{
        display: none !important;
    }
    .search_page .leftbar.activate{
        background-color: rgba(0,0,0,0.5);
        bottom: 0;
        display: block !important;
        overflow: auto;
        margin-top: 62px;
        left: 0;
        right: 0;
        top: 0;
        padding: 10px;
        position: fixed;
        z-index: 1000;
    }
    .search_page .leftbar #close{
        display: block !important;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .search_page .leftbar.activate .sidebar_content_wrap.fixed{
        overflow: hidden;
        background-color: #fff;
        border-radius: 4px;
        position: static;
        padding-top: 20px;
        width: 100%;
        height: unset;
        top: unset;
    }
}



/*===== dataset inner data =====*/

.common_topbar{
	background-color: #00274A;

	h1{
		color: #ffffff;
		font-size: 1.9rem;
		margin-bottom: 5px;
		margin-top: 0;
		padding-bottom: 10px;
		line-height: 1.7;
	}

	.row:first-child{
		border-bottom: 2px solid #193c5b;
	}

	label{
		color: #ffffff;
		font-size: .8625rem;
		font-weight: 500;
		display: block;
		margin: 2px 0 5px;
	}

	span ,a{
		color: #b2bdc8;
		font-size: .8125rem;
		font-weight: 400;
	}
}

.mainbar{
	border-bottom: 1px solid #dddddd;
	padding: 0 20px;

	ul{
		li{
			margin-right: 30px;
			display: inline-block;
			vertical-align: middle;
			margin-bottom: -1px;

			a{
				border-bottom: 3px solid transparent;
				color: #00274A;
				font-weight: 700;
				font-size: .9375rem;
				padding: 10px 15px 13px;
				display: block;

				i.fa{
					display: inline-block;
					position: relative;
                    top: 6px;
                    margin-right: 3px;
				}
			}

			a:hover, a:focus{
				border-bottom: 3px solid #ddd;
				box-shadow: none;
				outline: none;
				outline-offset: 0;
			}
		}

		li.active{
			a{
				border-bottom-color: #348913;
			}
		}
	}
}

.btn.download-btn{
    background-color: #348913;
    border: 3px solid #348913;
    border-radius: .25rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    font-size: .8375rem;
    line-height: 1;
    margin-top: 10px;
    margin-right: .5rem;
    padding: .75rem 1.25rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.btn.border_btn{
    font-size: .875rem;
    line-height: .93923;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: .25rem;
    cursor: pointer;
    font-weight: 700;
    margin-right: .5rem;
    padding: .75rem 1.25rem;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 0 2px #005ea2;
    box-shadow: inset 0 0 0 2px #005ea2;
    color: #005ea2;
}

.dataset_data_page {

    .show_on_click,
    .show_on_click1{
        display: none;
    }

    a.underline{
        margin-top: 20px;
        display: inline-block;
    }

	.leftbar {

		.card {
			padding: 20px;
			background-color: #fff;
			border-radius: 5px;
			border: 2px solid #dfe1e2;
			margin-bottom: 20px;
			position: relative;

			span{
				color: #0372e4;
				background-color: #e7f2fd;
				font-size: .9em;
				padding: 3px 8px;
				border-radius: 40px;
				font-weight: 600;
			}

			h4{
				font-size: .9375rem;
				color: #3e474e;
				margin-top: 18px;
				margin-bottom: 10px;
				word-wrap: break-word;
			}
		}

		.card.active {
			border: 2px solid #0372e4;

			h4{
				color: #00274A;
			}
			
			.material-icons {
				position: absolute;
				top: -8px;
				right: -8px;
				background-color: #0272e4;
				color: #fff;
				border-radius: 300px;
				padding: 3px;
				font-weight: 700;
				font-size: 16px;
			}
		}

        ul.nav{
            li{
                a.active{
                     font-weight: 600;
                }
                a.active, a:hover, a:focus{
                    background-color: #f4f4f4;
                }

                a{
                    color: #00274A;
                    font-weight: 300;
                    font-size: .9375rem;
                }
            }
        }

        p.underline{
            border-bottom: 2px solid #0372e4;
            display: inline-block;
            padding-bottom: 4px;
            text-decoration: none;
        }

        p{
            color: #405d77;
            font-size: .9375rem;
            margin-bottom: 6px;
        }
	}

	.rightcontent{

		.inner_data{
			padding: 60px 40px 40px 100px;
			min-height: 400px;
			height: auto;

			.sub_head{
                padding-bottom: 30px;

				ul{
					display: inline-block;
					
					li.active{
						a{
							border-left: 0;
							border-top: 0;
							border-right: 0;
							border-bottom: 3px solid #348913!important;
							color: #00274A!important;
							font-weight: 700;
							font-size: .9375rem;
							padding: 10px 15px 13px;
						}
					}

					li{
						display: inline-block;
						vertical-align: middle;
						margin: 0 5px;
					}
				}
			}

			.custom_table{

				h2{
					font-size: 1.375rem;
					font-weight: 600;
					line-height: 1;
					color: #00274A;
					margin: 0 0 20px;
				}

				.table-collapse{

					thead{

						tr{

							th:first-child{
								padding-left: 0;
							}

							th{
                                border-color: #dfe1e2;
								padding: .5rem 1rem;
								color: #171717;
								font-size: 1rem;
								font-weight: 700;
								line-height: 1.62;
							}
						}
					}

					tbody{

						tr{

							td{
                                border-color: #dfe1e2;
								padding: .5rem 1rem;
								color: #171717;
								font-size: 1rem;
								font-weight: 400;
								line-height: 1.62;

								a{
									color: #206b82;
								}
							}

							td:first-child{
								padding-left: 0;
							}
						}
					}
				}
			}

            .custom_doc_sec {
                h2{
                    font-size: 1.375rem;
                    font-weight: 600;
                    line-height: 1;
                    color: #00274A;
                    margin: 0 0 20px;
                }

                h5{
                    color: #00274A;
                    font-size: .9375rem;
                    font-weight: 600;
                    margin-top: 0;
                    margin-bottom: 10px;
                }

                p{
                    font-size: .9375rem;
                    font-weight: 400;
                    line-height: 1.75;
                    margin-bottom: 15px;
                }

                ul.list-disc{
                    padding-left: 30px;

                    li{
                        a{
                            border-bottom: 2px solid #0372e4;
                            color: #206b82;
                            font-size: .9375rem;
                            text-transform: uppercase;
                            padding-bottom: 5px;
                        }
                    }
                }

                .table-collapse{

                    thead{

                        tr{

                            th{
                                background-color: #f0f0f0;
                                border-color: #dfe1e2;
                                color: #171717;
                                font-size: 1rem;
                                font-weight: 700;
                                line-height: 1.62;
                                padding: .5rem 1rem;
                            }
                        }
                    }

                    tbody{

                        tr{

                            td{
                                border-color: #dfe1e2;
                                color: #171717;
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1.62;
                                padding: .5rem 1rem;
                            }
                        }
                    }
                }

                .showcase-card{
                    width: 28%;
                    margin-bottom: 40px;
                }
            }
		}

        .disqus-comments{
            padding-top: 25px;
        }
	}
}

@media (max-width: 1300px){
    .dataset_data_page .rightcontent .inner_data .custom_doc_sec .showcase-card{
        width: 30%;
    }
}

@media (max-width: 1200px) and (min-width: 768px){
    .dataset_data_page .rightcontent .inner_data .custom_doc_sec .showcase-card{
        width: 48%;
    }
}

@media (max-width: 1024px) and (min-width: 768px){
	.dataset_data_page .leftbar .card{
		display: block;
		max-width: 100%;
		width: 200px;
	}
}

@media (max-width: 1024px){
	.dataset_data_page .rightcontent .inner_data{
		padding: 50px 30px;
	}
}

@media (max-width: 767px){
    .dataset_data_page .rightcontent .inner_data .custom_doc_sec .showcase-card{
        width: 100%;
        margin-right: 0;
    }
	.mainbar ul.nav{
		display: block;
		width: 100%;
	}
	.mainbar ul.nav li{
		display: block;
		margin-right: 0;
		margin-bottom: 10px;
		width: 100%;
	}
	.dataset_data_page .rightcontent .inner_data .sub_head ul{
		display: block;
		width: 100%;
		margin-bottom: 15px;
	}
	.dataset_data_page .rightcontent .inner_data .sub_head .float-right{
		float: left;
		display: block;
		padding: 30px 0;
		width: 100%;
	}
}