/* About Page Styles */
.about-pg {
    h2 {
        @include typeset($theme-font-role-ui, 'lg', 1);
        font-weight: 600;
        color: $theme-color-main;
        padding-top: 70px;
    }

    .discover-data {
        background-color: $theme-grey-light;
        padding: 20px;
        margin-top: 60px;

        h3 {
            margin: 0;
            padding: 0;
        }

        p {
            padding: 5px 0 0 0;
        }
    }
}

.about_page {
    .rightcontent {
        section {
            img {
                width: 300px;
                margin-bottom: 20px;
            }

            p {
                line-height: 1.75;
                font-size: .9375rem;
                margin: 15px 0;
            }

            ul {
                padding-left: 35px;

                li {
                    line-height: 1.75;
                    font-size: .9375rem;
                    margin-bottom: 5px;
                }
            }
        }

        .content_block {
            background-color: #f8f8f8;
            padding: 20px;
            margin-top: 50px;

            p {
                line-height: 1.75;
                font-size: .9375rem;
                margin: 15px 0;
            }
        }
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .about_page .leftbar {
        width: 250px;
    }

    .about_page .leftbar .sidebar_content_wrap.fixed {
        width: 250px;
    }

    .about_page .rightcontent {
        width: calc(100% - 250px);
    }
}

@media (max-width: 767px) {
    .about_page .leftbar {
        padding-top: 30px;
    }

    .about_page .rightcontent {
        padding: 2rem;
    }
}