/* Styles for the Homepage */

//Styling the hero section
.hero {
    padding: 100px 0 85px 0;
    background-color: $theme-color-main !important;
    background-image: url('../images/hero-img-bg.png');
    background-repeat: no-repeat;
    background-size: 630px 630px;
    background-position-x: 76%;
    background-position-y: -10%;
    position: relative;
    overflow: hidden;

    //Removing bg image on smaller devices
    @media screen and (max-width:425px) {
        background-image: none;
    }

    .container {
        z-index: 99;
        position: relative;
    }

    canvas {
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 0;

    }

    //Styles for the content and the search bar inside the hero section
    .hero-content {
        padding: 60px 90px 0 90px;
        margin: 0;

        h1 {
            @include typeset($theme-font-role-ui, '2xl', 1);
            color: #fff;
            font-weight: 600;
            padding: 0;
            margin: 0;
        }

        h4 {
            color: #fff;
            @include typeset($theme-font-role-ui, 'md', 1);
            font-weight: 400;
            margin: 0;
            margin-top: 12px;
        }

        .search-form {
            border-bottom: 0;

            .search-input.search-giant input {
                @include u-font-size('body', 'xs');
                border-radius: 4px;
                padding: 14px 14px 14px 50px;
                color: color($theme-color-base-darkest);
                border: 0;
                height: 46px;

                @media screen and (max-width:768px) {
                    padding-left: 14px;
                    padding-right: 50px;
                }
            }

            .search-input.search-giant input::placeholder {
                color: color($theme-color-base-dark);
            }

            .search-input.search-giant button {
                position: absolute;
                top: 14px;
                right: 15px;
            }


            @media screen and (min-width:768px) {
                .search-input.search-giant button {
                    position: absolute;
                    top: 14px;
                    left: 15px;
                }
            }

            .search-input.search-giant button i {
                font-size: 22px;
                width: 22px;
                color: color($theme-color-primary);
            }
        }

        .module-content {
            padding: 40px 0 0 0;
        }
    }
}


.home {
    header.masthead {
        border-bottom: 0;
    }

    .site-search {
        display: none;
    }
}

//Categories and tags on homepage are split in 2 sections

.home-categories {
    margin: 0 120px 0 120px;
    padding-top: 60px;
    padding-bottom: 40px;

    //Styles for cards and categories
    .categories-card {
        padding: 0;
        overflow: hidden;

        ul {
            padding: 0;
            margin: 0;

            li {
                display: block;
                padding-bottom: 13.5px;
            }

            li:last-child {
                padding-bottom: 0;
            }
        }

        .col-links-1,
        .col-links-2 {
            width: 36%;
            float: left;
            padding: 40px 10px 40px 40px;
            overflow: hidden;

            ul {
                li {
                    a {
                        color: $theme-color-main;

                        span {
                            color: color($theme-color-secondary);
                            font-size: 0.75rem;
                            padding-left: 25px;
                        }
                    }

                    a:hover {
                        color: $theme-color-alternate;
                    }
                }
            }
        }

        .col-links-1 {
            ul {
                border-right: 1px solid $theme-grey-dark;
            }
        }

        .col-tags {
            width: 28%;
            float: left;
            border-left: 1px solid $theme-grey-darker;

            padding: 35px 15px 0 35px;

            .tag-group {
                padding-bottom: 20px;
            }

            h5 {
                @include typeset($theme-font-role-ui, '2xs', 1);
            }
        }

        //Media query to hide the tags on phone screens
        @media screen and (max-width:768px) {
            .col-tags {
                display: none
            }

            .col-links-1 {
                padding-bottom: 0;

                ul {
                    border-right: 0px solid transparent;
                }
            }

            .col-links-2 {
                padding-top: 13.5px;
            }

            .col-links-1,
            .col-links-2 {
                width: 100%;
            }
        }


        //Setting Height for column cards
        @include homeCategoryHeight($base-height: 350px);

        @media screen and (max-width: 768px) {
            @include homeCategoryHeight($base-height: auto);
        }

    }


}

//Trending and new sections use identical classes and design.
.trending-new {
    margin: 20px 120px 0 120px;
    padding-bottom: 120px;

    h4 {
        @include typeset($theme-font-role-ui, 'sm', 1);
    }

    .card-custom-plain {
        margin-top: 24px;

        //Styles for each of the list item inside New / Trending datasets
        .list-item {
            position: relative;
            padding: 15px 10px 15px 50px;
            border-bottom: 1px solid #ececec;

            p {
                padding: 5px 0 2px;
                margin: 0;
            }

            .dataset-name {
                color: $theme-color-main;
                font-weight: 400;
                @include typeset($theme-font-role-ui, '2xs', 1);
            }

            .office-name {
                color: $theme-color-alternate;
                font-weight: 300;
                font-size: 0.7125rem;
            }

            img.trending-icon {
                position: absolute;
                left: 15px;
                top: 24px;
                width: 22px;
            }

            img.new-data-icon {
                position: absolute;
                left: 18px;
                top: 26px;
                width: 18px;
            }
        }

        .list-item:hover {
            background-color: $theme-grey-dark;
        }

        .list-item::last-child {
            border-bottom: 0;
        }

        margin-bottom:40px;
    }
}