/*======== Collection page css =========*/
.collection_page{

    .show_on_click,
    .show_on_click1{
        display: none;
    }

    .leftbar{

        nav.block ul{
            border-bottom: 0 none;
        }

        img{
            margin: 10px auto;
            display: block;
        }

        section.block{
            p{
                color: #405d77;
                font-size: .875rem;
                margin-bottom: 0;
                line-height: 1.35;
            }

            p.underline{
                border-bottom: 2px solid #0372e4;
                display: inline-block;
                padding-bottom: 4px;
                text-decoration: none;
                margin-bottom: 0.75rem;
            }
        }
    }

    .rightcontent{
        .collection_tab{

            .pagination{
                ul{
                    li{
                        a{
                            border: 0 none;
                            font-size: .9375rem;
                            font-weight: 600;
                            line-height: 1.2;
                            padding: 0;
                        }
                    }
                }
            }

            .tab-pane{
                a.underline{
                    color: #206b82;
                    text-decoration: underline;
                    margin-top: 20px;
                    display: inline-block;
                }

                .dataset_list.profile_list{
                    padding-top: 25px;

                    h5{
                        margin-bottom: 5px;
                    }

                    span{
                        color: #00274A;
                        display: inline-block;
                        padding: 0 5px;
                        font-size: .875rem;
                        vertical-align: middle;
                    }

                    span:first-child{
                        padding-left: 0;
                    }

                    span.dot{
                        background-color: #00274A;
                        border-radius: 5px;
                        height: 3px;
                        width: 3px;
                        padding: 0;
                    }

                    p{
                        font-size: .9375rem;
                    }
                }

                .custom_table{

                    border-bottom: 1px solid #b8b8b8;
                    padding-bottom: 25px;

                    .table-collapse {

                         thead{
                             tr{

                                 th{
                                    border-color: #dfe1e2;
                                    padding: .5rem 1rem;
                                    color: #171717;
                                    font-size: 1rem;
                                    font-weight: 700;
                                    line-height: 1.62;
                                }
                            }
                         }

                         tbody{

                            tr{

                                td{
                                    border-color: #dfe1e2;
                                    padding: .5rem 1rem;
                                    color: #171717;
                                    font-size: 1rem;
                                    font-weight: 400;
                                    line-height: 1.62;

                                    
                                }
                            }
                         }
                    }
                }

                .custom_doc_sec{
                    padding-bottom: 20px;
                    border-bottom: 1px solid #b8b8b8;
                    
                    h5{
                        color: #00274A;
                        font-size: .9375rem;
                        font-weight: 600;
                        margin-top: 0;
                        margin-bottom: 10px;
                    }

                    ul.list-disc{
                        padding: 0 0 10px 25px;
                        display: block;

                        li{
                            display: list-item;
                            a{
                                border-bottom: 2px solid #0372e4;
                                color: #206b82;
                                font-size: .9375rem;
                                font-weight: 400;
                                text-transform: uppercase;
                                padding: 0 0 5px;
                            }
                        }
                    }
                }
            }

            .sub_head{
                border-bottom: 1px solid #d4d4d4;
                padding-bottom: 13px;
                margin-bottom: 25px;

                h4{
                    font-size: 1.25rem;
                    font-weight: 400;
                    color: #405d77;
                    margin-bottom: 10px;
                    margin-top: 0;
                }

                h2{
                    font-size: 1.65rem;
                    font-weight: 600;
                    line-height: 1.3;
                    margin-bottom: 25px;
                    margin-top: 0;
                }
            }

            ul{
                display: inline-block;

                li{
                    display: inline-block;
                    vertical-align: middle;

                    a{
                        border-bottom: 4px solid transparent;
                        color: #00274A;
                        font-size: 1rem;
                        font-weight: 700;
                        padding: 12px 15px;
                    }

                    a.active{
                        border-bottom: 4px solid #4B99E6;
                        color: #4B99E6;
                    }

                    a:hover, a:focus{
                        box-shadow: none;
                        outline: none;
                        outline-offset: 0;
                    }
                }

            }

            ul.dataset_list {
                display: block;

                li{
                    display: block;

                    p{
                        margin-bottom: 0;
                    }

                    h5{
                        a{
                            padding: 0;
                            /*font-size: 1.215rem;*/
                            @include typeset($theme-font-role-heading,'md',1);
                            margin: 0;
                            border: 0;
                            font-weight: 500;
                        }
                    }
                }
            }

            .btn.border_btn{
                padding: 10px 20px;
            }

            p{
                color: #00274A;
                font-size: .875rem;
                margin-bottom: 25px;
                line-height: 1.35;
            }

            h2{
                margin-top: 25px;
                margin-bottom: 25px;
                padding-bottom: 0;
                font-size: 1.125rem;
            }

            .input-group{
                position: relative;

                input[type='text']{
                    width: 100%;
                    display: block;
                    margin: 10px 0;
                    padding: 4px 8px 4px 30px;
                    border-bottom: 2px solid #d4d4d4;
                    height: 40px;
                }

                input[type='text']:focus{
                    border-top: 0 none;
                    border-left: 0 none;
                    border-right: 0 none;
                    border-bottom-color: #d4d4d4;
                    box-shadow: none;
                    outline-offset: 0;
                    outline: none;
                }

                .input-group-btn{
                    position: absolute;
                    left: 4px;
                    top: 12px;
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (max-width: 1024px){
    .collection_page .rightcontent{
        padding: 4rem 2rem;
    }
}

@media (max-width: 767px){
    .collection_page .rightcontent{
        padding: 2rem;
    }
}

@media (max-width: 568px){
    .collection_page .rightcontent .collection_tab .sub_head{
        border-bottom: 0 none;
    }
    .collection_page .rightcontent .collection_tab .sub_head .float-right{
        float: left;
        width: 100%;
        margin-bottom: 25px;
    }
    .collection_page .rightcontent .collection_tab .sub_head ul.nav{
        width: 100%;
        margin-bottom: 25px;
        border-bottom: 1px solid #d4d4d4;
        padding-bottom: 15px;
    }
}