/* Styles for Publishers */

#organization-search-form, #organization-datasets-search-form {
    padding-bottom: 30px;

    //Fixing the search input for publishers
    .search-input-group {
        width:100%;
        position: relative;

        input {
            border: 0;
            box-shadow: 0 0 0;
            padding: 5px 0px 15px 50px;
            border-bottom: 1px solid #d2d2d2;
        }

        //chaing the position of search btn
        .input-group-btn {
            position:absolute;
            top: 3px;
            left: 14px;
            z-index:999;

            button{
                padding:0;
                border:0;
                background: transparent;
                width: 18px;
                height: 18px;
                color:$theme-color-alternate;
            }
        }
    }
}

//Heading size reduced
.context-info h1.heading {
    margin: 0 0 5px 0;
    font-size: 18px;
    line-height: 1.3;
}


.activity .item p {
    padding-top:5px;
    margin-top:0;
}



/******* Publisher page css starts New Version *******/

@media (max-width: 1280px) and (min-width: 1025px){
    .collection_page.publisher_page .rightcontent{
        padding-right: 4rem;
    }
}

.collection_page.publisher_page {

    .rightcontent {

        .collection_tab{

            ul.dropdown-menu.hidden{
                display: none;
            }

            ul.dropdown-menu{
                display: block;
            }

            ul.dataset_list{
                li{
                    p{
                        margin-top: 12px;
                    }

                    div{
                        margin-top: 12px;
                    }
                }
            }

            .sub_head{
                margin-bottom: 35px;
				padding-bottom:0;

                ul{

                    li {
                        a:hover{
                            border-bottom-color: #dddddd;
                        }

                        a.active:hover{
                            border-bottom-color: #4B99E6
                        }

                        a{
                            padding: 12px 25px;
                            display: block;
                        }
                    }
                }
            }

            h2.main_heading{
                font-size: 1.945rem;
                margin-bottom: 35px;
            }

            ul.list-disc{
                padding: 0 0 10px 25px;
                li{
                    display: list-item;

                    a{
                        font-weight: 400;
                        font-size: .9375rem;
                        color: #206b82;
                        padding: 0;
                    }
                }
            }

            ul.activity{

                li.item{
                    display: block;
                    margin-bottom: 25px;
                    position: relative;

                    i.icon{
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        color: #ffffff;
                        text-shadow: 0 1px 2px rgba(0,0,0,0.2);
                        margin-right: 10px;
                        border-radius: 100px;
                        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
                        box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
                    }

                    p{
                        font-size: 14px;
                        line-height: 1.5;
                        margin: 5px 0 0 80px;
                        padding: 0;

                        span.actor{
                            img{
                                position: absolute;
                                top: 0;
                                left: 40px;
                            }
                        }

                        a{
                            padding: 0;
                            font-weight: 400;
                            border: 0 none;
                            font-size: .9375rem;
                        }

                        span.date{
                            color: #999;
                            font-size: 12px;
                            white-space: nowrap;
                        }
                    }
                }

                li.item.changed-organization{
                    i.icon{
                        background-color: #699fa6;
                    }
                }

                li.item.new-resource{
                    i.icon{
                        background-color: #81a669;
                    }
                }

                li.item.changed-resource{
                    i.icon{
                        background-color: #aa76ce;
                    }
                }

                li.item.new-package{
                    i.icon{
                        background-color: #69a68e;
                    }
                }

                li.item.changed-package{
                    i.icon{
                        background-color: #8c76ce;
                    }
                }

                li.item.added-tag{
                    i.icon{
                        background-color: #6995a6;
                    }
                }

                li.item.new-organization{
                    i.icon{
                        background-color: #81a669;
                    }
                }

                li.item.changed-user{
                    i.icon{
                        background-color: #76b8ce;
                    }
                }

                li.item.new-user{
                    i.icon{
                        background-color: #69a6a3;
                    }
                }
            }

        }

    }

    .leftbar{
        section{
            a{
                h3{
                    font-size: 0.975rem;
                    color: #526779;
                }
            }
        }
    }
}

.leftbar{
    .follow_numb{

        margin-top: 20px;
        text-align: center;

        li{
            display: inline-block;
            vertical-align: top;
            padding: 0 5px;
            width: 49%;

            span{
                display: block;
                font-size: 30px;
                font-weight: 500;
                line-height: 36px;
                margin-top: 3px;
            }
        }
    }
}
    

@media (max-width: 991px){
    .collection_page.publisher_page .leftbar{
        padding: 1.5rem 0;
    }
    .collection_page.publisher_page .rightcontent{
        padding-top: 1.5rem;
    }
    .collection_page.publisher_page #dataset-search-form .float-right{
        margin: 1.25rem 0;
    }
}

@media (max-width: 767px){
    .search_page.collection_page.publisher_page .leftbar{
        display: block !important;
    }
    .leftbar .sidebar_content_wrap.fixed{
        width: 100% !important;
        height: 100%;
        padding-bottom: 0;
    }
}

@media (max-width: 640px){
    .collection_page.publisher_page .leftbar section.sm:hidden{
        display: none;
    }
    .collection_page .rightcontent .collection_tab .sub_head ul{
        width: 100%;
    }
    .collection_page.publisher_page .rightcontent .collection_tab .sub_head ul li{
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }
    .collection_page.publisher_page .rightcontent .collection_tab .sub_head ul li a{
        padding: 8px;
    }
}