/* Search page styling */

//Styling the dataset-item, the search cards


.dataset-item {
    border-bottom:0;
    padding-bottom: 0;
    margin-bottom: 0;

    .font-body-lg {
        padding-top:0;
        margin-top:0;
        a {
            font-size:1.215rem;
            color:$theme-color-main;
        }
        margin-bottom:5px;
    }

    .font-body-3xs {
        margin-bottom: 14px;
        @include typeset($theme-font-role-heading,'2xs',1);

        span {
            font-size: 1.2rem;
            padding: 0 5px;
            position: relative;
            top: 2px;
        }
    }
    
    .dataset-total-views {
        padding-top:23px;
        @include typeset($theme-font-role-heading,'3xs',1);
        color:$theme-color-main;
        font-weight:600;

        span {
            padding-right:20px;

            img {
                margin-top: -3px;
                max-width: 13px;
                margin-right: 8px;
            }
        }
    }

    .card-custom {
        margin-bottom:24px;
        margin-top:0;
    }
}

.dataset-item.item-extended {

    .data-desc {
        padding-bottom:17px;
    }

    .data-desc:empty {
        padding-bottom: 0;
    }

    .dataset-total-views {
        padding-top:5px;

        span {
            a {
                @include typeset($theme-font-role-heading,'2xs',1);
                font-weight:400;
                margin-left: 3px;
                color: #7d7d7d;
                border-bottom: 1px solid #bbbbbb;
                padding-bottom: 2px;
            }
        }
    }
}

//Updated styling to search inptus 
.search-form {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0px dotted #dddddd;

    h2 {
       font-size:1.1rem;
       position: relative;
       top:11px;
       display: inline;
    }

    .control-order-by {
        text-align:right;

        label {
            font-weight: 400;
            padding-top: 13px;
        }

        select {
            border-radius: 0px;
            border: 0;
            box-shadow: 0 0 0 transparent;
            border: 1px solid #cacaca;
        }

        @media screen and (max-width:767px) {
            text-align: left;
        }
    }
}

.package-item:hover {
    border-color:$theme-color-blue;   
}

.full-height-pg {
    .module {
        @media screen and (min-width:1200px){
            padding-left: 60px;
            padding-right: 60px;
        }
    }
}

/* Sorting - Fixing the design issues and introducing better design for dropdown */
.sort-btn {
    background:none;
    border:0;
    box-shadow: none;
    
    position: relative;
    top:7px;
    padding-left:0;

    .sort-asc {
        transform: rotate(180deg);
    }
}

.sort-dropdown {
    .dropdown-menu{
        padding-top:0;
        button {
            background:none;
            border:0;
            box-shadow: none;
            width:100%;
            text-align:left;
            padding-left:10px;
        }

        button.selected {
            background-color:$theme-grey-medium;
        }
    }
}

/* Filters - Filters are styled with inputs and clear buttons */ 
.top-filters {
    float:right;
    margin-bottom:30px;
    .module {
        float:left;
    
        h4, p {
            display:none;
        }
        
        //Filter Styling using the select-wrap class,  select tags are wrapped for round borders
        .select-wrap {
            margin-left:10px;
            background-color:#fff;
            border-radius:100px;
            border: 2px solid #e8e8e8;
            padding: 5px 10px;
            margin-bottom:10px;
            position:relative;

            select {
                background-color:transparent;
                border:0px solid transparent;
                box-shadow: none;
                padding:0;
                outline:none;
            }

            @media screen and (max-width:767px){
                margin-left:0;
                margin-right:5px;
            }
        }

        .select-wrap.active {
            background-color:$theme-color-blue;
            color:#fff;
            border-color:$theme-color-blue;
            padding-right:32px;

            option {
                background-color:#fff;
                color: $theme-color-alternate;
            }
        }

        //clear button to clear the filter entries
        .clear-btn {
            background-color:transparent;
            outline:none;
            display: inline-block;
    
            position: absolute;
            right: 6px;
            top: 4px;
            border-radius: 0 100px 100px 0;
    
            i {
                background-color:#fff;
                color:$theme-color-blue;
                font-size: 16px;
                border-radius: 1000px;
                padding: 2px;
            }
        }
    }

    
     
} 